In [1]:
import mysql.connector
from datetime import datetime
from connection import connection
from student import Student
from teacher import Teacher
from klass import Class
from lesson import Lesson

In [8]:
class DbManager:
    def __init__(self):
        self.connection = connection
        self.cursor = self.connection.cursor()

    def getStudentById(self, id):
        sql ="select * from student where id=%s;"
        val = (id,)
        self.cursor.execute(sql, val)
        try:
            obj = self.cursor.fetchone()
            print(obj)
            #return Student(obj[0],obj[1],obj[2],obj[3],obj[4],obj[5],obj[6])  #bunun yerine studentsda class oluşturduk
            return Student.createStudent(obj)

        except mysql.connector.Error as err:
            print("Error")
        

    def getStudentByClassId(self, classid):
        sql ="select * from student where classid=%s;"
        vals = (classid,)
        self.cursor.execute(sql, vals)
        try:
            obj = self.cursor.fetchall()
            print(obj)
            print("*********")
            return Student.createStudent(obj)
            #return Student(obj[0],obj[1],obj[2],obj[3],obj[4],obj[5],obj[6])

        except mysql.connector.Error as err:
            print("Error")
        
    def addOrEditStudent(self, student: Student):
        pass

    
    def addStudent(self, student : Student):
        sql = "INSERT INTO Student(studentNumber,Name,Surname,Birthdate,Gender,classid) VALUES (%s,%s,%s,%s,%s,%s)"
        value = (student.studentNumber,student.name, student.surname,student.birthdate,student.gender, student.classid)
        self.cursor.execute(sql,value)

        try:
            self.connection.commit()
            print(f'{self.cursor.rowcount} tane kayıt eklendi.')
        except mysql.connector.Error as err:
            print('hata:', err)
        #connectionı kapatmayacağız sonrasın güncelleme yapacağız

    def editStudent(self, student : Student):
        sql = "update student set studentnumber=%s,name=%s,surname=%s,birthdate=%s,gender=%s, classid=%s where id=%s"
        value = (student.studentNumber,student.name, student.surname,student.birthdate,student.gender, student.classid, student.id)
        self.cursor.execute(sql,value)

        try:
            self.connection.commit()
            print(f'{self.cursor.rowcount} tane kayıt güncellendi.')
        except mysql.connector.Error as err:
            print('hata:', err) 

    def addTeacher(self, teacher : Teacher):
        pass

    def editTeacher(self, teacher : Teacher):
        pass

    #def __del__(self):   #manually close connection in notebook
        #self.cursor.close()
        #self.connection.close()
        #print("Cursor ve Connection Closed!")

In [9]:
db = DbManager()
students = db.getStudentByClassId(1)

[(1, '101', 'Mr.Ahmet', 'Yılmaz', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (2, '102', 'Mr.Ali', 'Can', datetime.datetime(2005, 6, 17, 0, 0), 'E', 1), (3, '103', 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K', 1), (4, '104', 'Ayşe', 'Taner', datetime.datetime(2005, 9, 23, 0, 0), 'K', 1), (5, '105', 'Mr.Bahadır', 'Toksöz', datetime.datetime(2004, 7, 27, 0, 0), 'E', 1), (6, '106', 'Mr.Ali', 'Cenk', datetime.datetime(2003, 8, 25, 0, 0), 'E', 1), (7, '301', 'Fucker', 'KelMahmut', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (8, '302', 'Mr.Ali', 'Can', datetime.datetime(2005, 6, 17, 0, 0), 'E', 1), (9, '303', 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K', 1), (10, '304', 'Ayşe', 'Taner', datetime.datetime(2005, 9, 23, 0, 0), 'K', 1), (11, '305', 'Mr.Bahadır', 'Toksöz', datetime.datetime(2004, 7, 27, 0, 0), 'E', 1), (12, '306', 'Mr.Ali', 'Cenk', datetime.datetime(2003, 8, 25, 0, 0), 'E', 1), (13, '301', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (14, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (15, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (16, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (17, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (18, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (19, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (20, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1)]
*********

In [4]:
db = DbManager()
student = db.getStudentById(7)

print(student[0].name, student[0].surname)

(7, '301', 'Fucker', 'KelMahmut', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1)
Fucker KelMahmut

In [5]:
db = DbManager()
students = db.getStudentByClassId(1)
#print(student[0].name)
#print(student[4].name)
for student in students:
    print(student.name)

print("*********************")
print(students[0].name)
print(students[4].name)

[(1, '101', 'Mr.Ahmet', 'Yılmaz', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (2, '102', 'Mr.Ali', 'Can', datetime.datetime(2005, 6, 17, 0, 0), 'E', 1), (3, '103', 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K', 1), (4, '104', 'Ayşe', 'Taner', datetime.datetime(2005, 9, 23, 0, 0), 'K', 1), (5, '105', 'Mr.Bahadır', 'Toksöz', datetime.datetime(2004, 7, 27, 0, 0), 'E', 1), (6, '106', 'Mr.Ali', 'Cenk', datetime.datetime(2003, 8, 25, 0, 0), 'E', 1), (7, '301', 'Fucker', 'KelMahmut', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (8, '302', 'Mr.Ali', 'Can', datetime.datetime(2005, 6, 17, 0, 0), 'E', 1), (9, '303', 'Canan', 'Tan', datetime.datetime(2005, 7, 7, 0, 0), 'K', 1), (10, '304', 'Ayşe', 'Taner', datetime.datetime(2005, 9, 23, 0, 0), 'K', 1), (11, '305', 'Mr.Bahadır', 'Toksöz', datetime.datetime(2004, 7, 27, 0, 0), 'E', 1), (12, '306', 'Mr.Ali', 'Cenk', datetime.datetime(2003, 8, 25, 0, 0), 'E', 1), (13, '301', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (14, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (15, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (16, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (17, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (18, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1), (19, '501', 'Toygar', 'Par', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1)]
*********
Mr.Ahmet
Mr.Ali
Canan
Ayşe
Mr.Bahadır
Mr.Ali
Fucker
Mr.Ali
Canan
Ayşe
Mr.Bahadır
Mr.Ali
Toygar
Toygar
Toygar
Toygar
Toygar
Toygar
Toygar
*********************
Mr.Ahmet
Mr.Bahadır

In [6]:
db = DbManager()

student = db.getStudentById(7)
#std = Student( None, ....)   bütübir öğrenci kaydını oluşturabiliriz

print(student[0].name, student[0].surname)

student[0].name = "Toygar"
student[0].surname ="Par" 
student[0].studentNumber = "501"
db.addStudent(student[0])

(7, '301', 'Fucker', 'KelMahmut', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1)
Fucker KelMahmut
1 tane kayıt eklendi.

In [7]:
db = DbManager()

student= db.getStudentById(7)

student[0].name = "Fucker"


db.editStudent(student[0])

(7, '301', 'Fucker', 'KelMahmut', datetime.datetime(2005, 5, 17, 0, 0), 'E', 1)
0 tane kayıt güncellendi.