<div style="padding:20px; 
            color:#36FF00;
            margin:10px;
            font-size:110%;
            display:fill;
            border-radius:10px;
            border-style: solid;
            border-color: #36FF00;
            background-color:#000000;
            overflow:hidden;
            font-weight:500">CSV FILES
            </div>

In [ ]:
CSV - comma separated values

In [ ]:
#csv dosyadan bilgi okuma

with open("urunler.csv") as file:
    print(file.read())

Id, ProductName,Price,IsActive,Category,Rating
1, Iphone 13 128 GMb Sİyah,4449,Active,Telefon,5
2, Honor 200 512 GB 12 GB Ram, 19999, False, Telefon,4.4
3, Xiaomi Redmi Note 13 Pro 512GB 12GB,15599,Active,Telefon,4.3
4, Poco C65 256GB 8GB Ram,6999,False,Telefon,4.0
5,Samsung Galaxy M34 5G 6GB,8599,True,Telefon,4.5
6,Samsun Galaxy A55 256GB 8GB,18259,True,Telefon,4.6
7, Iphone 15 128GB Siyah,51999,True,Telefon,4.9
8,Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu,13498,True,Bilgisayar,4.2
9,MacBook Pro,100000,True,Bilgisayar,4.8
10,MacBook Air,90000,True,Bilgisayar,4.7

In [2]:
import csv

In [21]:
#liste içersinde her satır bir liste olarak getiriliyor

with open("urunler.csv") as file:
    csv_reader = csv.reader(file)
    print(csv_reader)
    liste = list(csv_reader)
    print(liste)

<_csv.reader object at 0x7e3a9d5a0510>
[['Id', ' ProductName', 'Price', 'IsActive', 'Category', 'Rating'], ['1', ' Iphone 13 128 GMb Sİyah', '4449', 'Active', 'Telefon', '5'], ['2', ' Honor 200 512 GB 12 GB Ram', ' 19999', ' False', ' Telefon', '4.4'], ['3', ' Xiaomi Redmi Note 13 Pro 512GB 12GB', '15599', 'Active', 'Telefon', '4.3'], ['4', ' Poco C65 256GB 8GB Ram', '6999', 'False', 'Telefon', '4.0'], ['5', 'Samsung Galaxy M34 5G 6GB', '8599', 'True', 'Telefon', '4.5'], ['6', 'Samsun Galaxy A55 256GB 8GB', '18259', 'True', 'Telefon', '4.6'], ['7', ' Iphone 15 128GB Siyah', '51999', 'True', 'Telefon', '4.9'], ['8', 'Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu', '13498', 'True', 'Bilgisayar', '4.2'], ['9', 'MacBook Pro', '100000', 'True', 'Bilgisayar', '4.8'], ['10', 'MacBook Air', '90000', 'True', 'Bilgisayar', '4.7']]

In [19]:
with open("urunler.csv") as file:
    csv_reader = csv.reader(file)
    print([x for x in csv_reader])

[['Id', ' ProductName', 'Price', 'IsActive', 'Category', 'Rating'], ['1', ' Iphone 13 128 GMb Sİyah', '4449', 'Active', 'Telefon', '5'], ['2', ' Honor 200 512 GB 12 GB Ram', ' 19999', ' False', ' Telefon', '4.4'], ['3', ' Xiaomi Redmi Note 13 Pro 512GB 12GB', '15599', 'Active', 'Telefon', '4.3'], ['4', ' Poco C65 256GB 8GB Ram', '6999', 'False', 'Telefon', '4.0'], ['5', 'Samsung Galaxy M34 5G 6GB', '8599', 'True', 'Telefon', '4.5'], ['6', 'Samsun Galaxy A55 256GB 8GB', '18259', 'True', 'Telefon', '4.6'], ['7', ' Iphone 15 128GB Siyah', '51999', 'True', 'Telefon', '4.9'], ['8', 'Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu', '13498', 'True', 'Bilgisayar', '4.2'], ['9', 'MacBook Pro', '100000', 'True', 'Bilgisayar', '4.8'], ['10', 'MacBook Air', '90000', 'True', 'Bilgisayar', '4.7']]

In [25]:
with open("urunler.csv") as file:
    csv_reader = csv.reader(file)
    print(csv_reader)
    liste = list(csv_reader)
    print(liste[0])

<_csv.reader object at 0x7e3a9d5a1f50>
['Id', ' ProductName', 'Price', 'IsActive', 'Category', 'Rating']

In [26]:
[x for x in liste]

[['Id', ' ProductName', 'Price', 'IsActive', 'Category', 'Rating'],
 ['1', ' Iphone 13 128 GMb Sİyah', '4449', 'Active', 'Telefon', '5'],
 ['2', ' Honor 200 512 GB 12 GB Ram', ' 19999', ' False', ' Telefon', '4.4'],
 ['3',
  ' Xiaomi Redmi Note 13 Pro 512GB 12GB',
  '15599',
  'Active',
  'Telefon',
  '4.3'],
 ['4', ' Poco C65 256GB 8GB Ram', '6999', 'False', 'Telefon', '4.0'],
 ['5', 'Samsung Galaxy M34 5G 6GB', '8599', 'True', 'Telefon', '4.5'],
 ['6', 'Samsun Galaxy A55 256GB 8GB', '18259', 'True', 'Telefon', '4.6'],
 ['7', ' Iphone 15 128GB Siyah', '51999', 'True', 'Telefon', '4.9'],
 ['8',
  'Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu',
  '13498',
  'True',
  'Bilgisayar',
  '4.2'],
 ['9', 'MacBook Pro', '100000', 'True', 'Bilgisayar', '4.8'],
 ['10', 'MacBook Air', '90000', 'True', 'Bilgisayar', '4.7']]

In [30]:
with open("urunler.csv") as file:
    csv_reader = csv.reader(file)


    for i in csv_reader:
        print(i[0])

Id
1
2
3
4
5
6
7
8
9
10

In [31]:
for i in liste:
    print(i[0])

Id
1
2
3
4
5
6
7
8
9
10

In [36]:
with open("urunler.csv") as file:
    csv_reader1 = csv.reader(file)
    next(csv_reader1)
    for i in csv_reader1:
        print(i[0], i[1], i[2])

1  Iphone 13 128 GMb Sİyah 4449
2  Honor 200 512 GB 12 GB Ram  19999
3  Xiaomi Redmi Note 13 Pro 512GB 12GB 15599
4  Poco C65 256GB 8GB Ram 6999
5 Samsung Galaxy M34 5G 6GB 8599
6 Samsun Galaxy A55 256GB 8GB 18259
7  Iphone 15 128GB Siyah 51999
8 Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu 13498
9 MacBook Pro 100000
10 MacBook Air 90000

In [ ]:
#using list comprehension

[(x[0], x[1], x[2]) for x in liste]

[('Id', ' ProductName', 'Price'),
 ('1', ' Iphone 13 128 GMb Sİyah', '4449'),
 ('2', ' Honor 200 512 GB 12 GB Ram', ' 19999'),
 ('3', ' Xiaomi Redmi Note 13 Pro 512GB 12GB', '15599'),
 ('4', ' Poco C65 256GB 8GB Ram', '6999'),
 ('5', 'Samsung Galaxy M34 5G 6GB', '8599'),
 ('6', 'Samsun Galaxy A55 256GB 8GB', '18259'),
 ('7', ' Iphone 15 128GB Siyah', '51999'),
 ('8', 'Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu', '13498'),
 ('9', 'MacBook Pro', '100000'),
 ('10', 'MacBook Air', '90000')]

In [44]:
#tuple in a list

with open("urunler.csv") as file:
    csv_reader1 = csv.reader(file)
    next(csv_reader1)
    print([(x[0], x[1], x[2]) for x in csv_reader1])

[('1', ' Iphone 13 128 GMb Sİyah', '4449'), ('2', ' Honor 200 512 GB 12 GB Ram', ' 19999'), ('3', ' Xiaomi Redmi Note 13 Pro 512GB 12GB', '15599'), ('4', ' Poco C65 256GB 8GB Ram', '6999'), ('5', 'Samsung Galaxy M34 5G 6GB', '8599'), ('6', 'Samsun Galaxy A55 256GB 8GB', '18259'), ('7', ' Iphone 15 128GB Siyah', '51999'), ('8', 'Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu', '13498'), ('9', 'MacBook Pro', '100000'), ('10', 'MacBook Air', '90000')]

In [51]:
#sadece satışta olan ürünleri bana getir

with open("urunler.csv") as file:
    csv_reader1 = csv.reader(file)
    next(csv_reader1)
    for i in csv_reader1:
        if i[3] == "True": 
            print(f"id:{i[0]}, Product Name:{i[1]},Price: {i[2]}")

id:5, Product Name:Samsung Galaxy M34 5G 6GB,Price: 8599
id:6, Product Name:Samsun Galaxy A55 256GB 8GB,Price: 18259
id:7, Product Name: Iphone 15 128GB Siyah,Price: 51999
id:8, Product Name:Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu,Price: 13498
id:9, Product Name:MacBook Pro,Price: 100000
id:10, Product Name:MacBook Air,Price: 90000

In [50]:
[(x[0], x[1], x[2]) for x in liste if x[3] == "True"]

[('5', 'Samsung Galaxy M34 5G 6GB', '8599'),
 ('6', 'Samsun Galaxy A55 256GB 8GB', '18259'),
 ('7', ' Iphone 15 128GB Siyah', '51999'),
 ('8', 'Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu', '13498'),
 ('9', 'MacBook Pro', '100000'),
 ('10', 'MacBook Air', '90000')]

<code style="background:red;color:white">
DictReader
</code>

In [ ]:
import csv

#brings every line as a dict in a list

with open("urunler.csv") as file:
    csv_reader = csv.DictReader(file)
    liste = list(csv_reader)
    print(liste)

[{'Id': '1', ' ProductName': 'Iphone 13 128 GMb Sİyah', 'Price': '4449', 'IsActive': 'Active', 'Category': 'Telefon', 'Rating': '5'}, {'Id': '2', ' ProductName': 'Honor 200 512 GB 12 GB Ram', 'Price': ' 19999', 'IsActive': ' False', 'Category': ' Telefon', 'Rating': '4.4'}, {'Id': '3', ' ProductName': 'Xiaomi Redmi Note 13 Pro 512GB 12GB', 'Price': '15599', 'IsActive': 'Active', 'Category': 'Telefon', 'Rating': '4.3'}, {'Id': '4', ' ProductName': 'Poco C65 256GB 8GB Ram', 'Price': '6999', 'IsActive': 'False', 'Category': 'Telefon', 'Rating': '4.0'}, {'Id': '5', ' ProductName': 'Samsung Galaxy M34 5G 6GB', 'Price': '8599', 'IsActive': 'True', 'Category': 'Telefon', 'Rating': '4.5'}, {'Id': '6', ' ProductName': 'Samsun Galaxy A55 256GB 8GB', 'Price': '18259', 'IsActive': 'True', 'Category': 'Telefon', 'Rating': '4.6'}, {'Id': '7', ' ProductName': 'Iphone 15 128GB Siyah', 'Price': '51999', 'IsActive': 'True', 'Category': 'Telefon', 'Rating': '4.9'}, {'Id': '8', ' ProductName': 'Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu', 'Price': '13498', 'IsActive': 'True', 'Category': 'Bilgisayar', 'Rating': '4.2'}, {'Id': '9', ' ProductName': 'MacBook Pro', 'Price': '100000', 'IsActive': 'True', 'Category': 'Bilgisayar', 'Rating': '4.8'}, {'Id': '10', ' ProductName': 'MacBook Air', 'Price': '90000', 'IsActive': 'True', 'Category': 'Bilgisayar', 'Rating': '4.7'}]

In [ ]:
#satır satır yazdıralım

with open("urunler.csv") as file:
    csv_reader = csv.DictReader(file)
    for x in csv_reader:
        print(x)

{'Id': '1', ' ProductName': 'Iphone 13 128 GMb Sİyah', 'Price': '4449', 'IsActive': 'Active', 'Category': 'Telefon', 'Rating': '5'}
{'Id': '2', ' ProductName': 'Honor 200 512 GB 12 GB Ram', 'Price': ' 19999', 'IsActive': ' False', 'Category': ' Telefon', 'Rating': '4.4'}
{'Id': '3', ' ProductName': 'Xiaomi Redmi Note 13 Pro 512GB 12GB', 'Price': '15599', 'IsActive': 'Active', 'Category': 'Telefon', 'Rating': '4.3'}
{'Id': '4', ' ProductName': 'Poco C65 256GB 8GB Ram', 'Price': '6999', 'IsActive': 'False', 'Category': 'Telefon', 'Rating': '4.0'}
{'Id': '5', ' ProductName': 'Samsung Galaxy M34 5G 6GB', 'Price': '8599', 'IsActive': 'True', 'Category': 'Telefon', 'Rating': '4.5'}
{'Id': '6', ' ProductName': 'Samsun Galaxy A55 256GB 8GB', 'Price': '18259', 'IsActive': 'True', 'Category': 'Telefon', 'Rating': '4.6'}
{'Id': '7', ' ProductName': 'Iphone 15 128GB Siyah', 'Price': '51999', 'IsActive': 'True', 'Category': 'Telefon', 'Rating': '4.9'}
{'Id': '8', ' ProductName': 'Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu', 'Price': '13498', 'IsActive': 'True', 'Category': 'Bilgisayar', 'Rating': '4.2'}
{'Id': '9', ' ProductName': 'MacBook Pro', 'Price': '100000', 'IsActive': 'True', 'Category': 'Bilgisayar', 'Rating': '4.8'}
{'Id': '10', ' ProductName': 'MacBook Air', 'Price': '90000', 'IsActive': 'True', 'Category': 'Bilgisayar', 'Rating': '4.7'}

In [ ]:
#sadece urun ve fiyat getirmek istersek

with open("urunler.csv") as file:
    csv_reader = csv.DictReader(file)
    for x in csv_reader:
        print(x[" ProductName"], x["Price"])

Iphone 13 128 GMb Sİyah 4449
Honor 200 512 GB 12 GB Ram  19999
Xiaomi Redmi Note 13 Pro 512GB 12GB 15599
Poco C65 256GB 8GB Ram 6999
Samsung Galaxy M34 5G 6GB 8599
Samsun Galaxy A55 256GB 8GB 18259
Iphone 15 128GB Siyah 51999
Dell Inspiron 3520 Intel Core i5 8GB 512 GB Ubuntu 13498
MacBook Pro 100000
MacBook Air 90000

In [5]:
with open("urunler.csv") as file:
    csv_reader = csv.DictReader(file)
    for x in csv_reader:
        if x["Category"] == "Telefon":
            print(x[" ProductName"], x["Price"])

Iphone 13 128 GMb Sİyah 4449
Xiaomi Redmi Note 13 Pro 512GB 12GB 15599
Poco C65 256GB 8GB Ram 6999
Samsung Galaxy M34 5G 6GB 8599
Samsun Galaxy A55 256GB 8GB 18259
Iphone 15 128GB Siyah 51999

In [11]:
#hem telefon hem ratingi 4.5'dan büyük olanları getir
with open("urunler.csv") as file:
    csv_reader = csv.DictReader(file)

    print([(x[" ProductName"], x["Price"]) for x in csv_reader if x["Category"] == "Telefon" and float(x["Rating"]) > 4.5])

[('Iphone 13 128 GMb Sİyah', '4449'), ('Samsun Galaxy A55 256GB 8GB', '18259'), ('Iphone 15 128GB Siyah', '51999')]

In [12]:
with open("urunler.csv", delimiter="|") as file:  #eğer comma yerine csv dosyasında bilgileri ayıran | işareti olursa
    csv_reader = csv.DictReader(file)
    for x in csv_reader:
        if x["Category"] == "Telefon":
            print(x[" ProductName"], x["Price"])

TypeError: 'delimiter' is an invalid keyword argument for open()

<code style="background:#000000;color:#36ff00">
CVS Dosyaya Bilgi Yazma
</code>

In [17]:
with open("arabalar.csv", "w") as file:
    csv_writer = csv.writer(file)
    csv_writer.writerow(["Marka", "Model", "Type"])
    csv_writer.writerow(["Toyota", "Prius", "Electric"])
    csv_writer.writerow(["Nissan", "Leaf", "Electric"])

In [ ]:
#writerow metodu kullanımı, newline satır aralarında boşluklar varsa yok eder

with open("arabalar.csv", "w", newline="") as file:
    csv_writer = csv.writer(file)
    csv_writer.writerow(["Marka", "Model", "Type"])
    csv_writer.writerow(["Toyota", "Prius", "Electric"])
    csv_writer.writerow(["Nissan", "Leaf", "Electric"])

In [20]:
#writerows metodu

with open("arabalar.csv", "w", newline="") as file:
    csv_writer = csv.writer(file)
    
    csv_writer.writerows([["Marka", "Model", "Type"],["Toyota", "Prius", "Electric"],["Nissan", "Leaf", "Electric"], ["Chevrolet", "Volt", "Electric"]])

In [ ]:
#writer append modda yeni satır eklemek

with open("arabalar.csv", "a") as file:
    csv_writer = csv.writer(file)
    csv_writer.writerow(["Togg", "10x", "Electric"])

In [22]:
#mevcut dosyadan yeni dosyaya bilgileri aktarmak

with open("urunler1.csv") as file:
    csv_reader = csv.reader(file) #csv.reader metodundan akış almak
    with open("yeni_urunler.csv", "w", newline="") as f:
        csv_writer =  csv.writer(f)

        for urun in csv_reader:
            csv_writer.writerow(urun)

In [23]:
#mevcut dosyadan yeni dosyaya urun bilgilerini  guncelleyip aktarmak 

with open("urunler1.csv") as file:
    csv_reader = csv.reader(file) #csv.reader metodundan akış almak
    with open("yeni_urunler.csv", "w", newline="") as f:
        csv_writer =  csv.writer(f)

        for urun in csv_reader:
            csv_writer.writerow([u.upper() for u in urun])

In [25]:
#r+ ile açmak:hem okuma hem yazma modunda, bilgileri belleğe alıp fiyata yüzde 20 zam yapmak ve tekrar yazdırmak
with open("urunler1.csv", "r+") as file:
    csv_reader = csv.reader(file) #csv.reader metodundan akış almak
    csv_writer = csv.writer(file)

    next(csv_reader) #csv_readerı bir alt satıra ilerlet

    urunler = [[urun[0], urun[1], float(urun[2])*1.20, urun[3], urun[4], urun[5]] for urun in csv_reader]

    file.seek(0)

    csv_writer.writerow(["ID", "PRODUCTNAME","PRICE","ISACTIVE","CATEGORY","RATING"])
    csv_writer.writerows(urunler)

<code style="background:#000000;color:#36ff00">
DictWriter
</code>

In [28]:
#writeheader metodu

with open("urunler1.csv", "w") as file:
    headers = ["Id", "ProductName","Price","IsActive","Category","Rating"]

    csv_writer = csv.DictWriter(file, headers)
    csv_writer.writeheader()

In [30]:
with open("urunler.csv") as file:
    csv_reader = csv.reader(file) #csv.reader metodundan akış almak
    next(csv_reader)
    with open("urunler1.csv", "a", newline="") as f:
        csv_writer =  csv.writer(f)

        for urun in csv_reader:
            csv_writer.writerow(urun)

In [ ]:
#writerow
with open("urunler2.csv", "w") as file:
    headers = ["Id", "ProductName","Price","IsActive","Category","Rating"]

    csv_writer = csv.DictWriter(file, headers)
    csv_writer.writeheader()
    csv_writer.writerow({
        "Id" : 1,
        "ProductName": "Huawei Mate 10",
        "Price": 5000,
        "IsActive": True,
        "Category": "Telefon",
        "Rating": 5.0





    })

In [ ]:
#append modunda writerows

with open("urunler2.csv", "a") as file:
    

    headers = ["Id", "ProductName","Price","IsActive","Category","Rating"]

    csv_writer = csv.DictWriter(file, headers)
    
    csv_writer.writerows([
        
        {
        "Id" : 2,
        "ProductName": "Iphone 16",
        "Price": 120000,
        "IsActive": True,
        "Category": "Telefon",
        "Rating": 4.9   
        },
        {
        "Id" : 3,
        "ProductName": "Samsung Flip",
        "Price": 70000,
        "IsActive": True,
        "Category": "Telefon",
        "Rating": 4.7   
        }
    
    
    
    
    ])

In [2]:
import csv

def price_with_tax(price):
    return float(price) * 1.20

with open("urunler.csv") as file:
    csv_reader =  csv.DictReader(file)


    urunler = list(csv_reader)


    


    with open("urunler3.csv", "w") as file:
    

        headers = ["Id","ProductName","Price","IsActive","Category","Rating"]

        csv_writer = csv.DictWriter(file, headers)
        csv_writer.writeheader()

        for urun in urunler:
            csv_writer.writerow({
                "Id" : urun["Id"],
                "ProductName": urun["ProductName"],
                "Price": price_with_tax(urun["Price"]),
                "IsActive": urun["IsActive"],
                "Category": urun["Category"],
                "Rating": urun["Rating"]





        })

In [3]:
#code to Check if the column names match exactly

import csv

def price_with_tax(price):
    return float(price) * 1.20

with open("urunler.csv") as file:
    csv_reader = csv.DictReader(file)
    urunler = list(csv_reader)

    # Print keys from the first row to verify the headers
    if urunler:
        print("CSV Headers:", urunler[0].keys())

    with open("urunler3.csv", "w") as file:
        headers = ["Id", "ProductName", "Price", "IsActive", "Category", "Rating"]
        csv_writer = csv.DictWriter(file, headers)
        csv_writer.writeheader()

        for urun in urunler:
            try:
                csv_writer.writerow({
                    "Id": urun["Id"],
                    "ProductName": urun["ProductName"],
                    "Price": price_with_tax(urun["Price"]),
                    "IsActive": urun["IsActive"],
                    "Category": urun["Category"],
                    "Rating": urun["Rating"]
                })
            except KeyError as e:
                print(f"KeyError: {e} - Check if the column names match exactly.")

CSV Headers: dict_keys(['Id', 'ProductName', 'Price', 'IsActive', 'Category', 'Rating'])


<code style="background:yellow;color:red">Uygulama</code>

#onlinefoods.csv - online food siparişi veren kaç kişi var

In [5]:
import csv

with open("onlinefoods.csv") as file:
    csv_reader = csv.reader(file)

    liste = list(csv_reader)

    print(len(liste)-1)  #len(liste) - 1 kolon başlıklarını toplamdan çıkarmak için

388

In [13]:
#online yemek siparişi veren öğrencileri listeleyin

with open("onlinefoods.csv") as file:
    csv_reader = csv.reader(file)

    liste = list(csv_reader)

    print(len([x for x in liste if x[3] == "Student"]))

    for o in liste:
        if o[3] == "Student":
            print(o)

207
['20', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.9766', '77.5993', '560001', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', 'Below Rs.10000', 'Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'Below Rs.10000', 'Post Graduate', '3', '12.9551', '77.6593', '560017', 'Yes', 'Negative ', 'Yes']
['22', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '6', '12.9473', '77.5616', '560019', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'Below Rs.10000', 'Post Graduate', '4', '12.985', '77.5533', '560010', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9828', '77.6131', '560042', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.9766', '77.5993', '560001', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.9854', '77.7081', '560048', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.985', '77.5533', '560010', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'Below Rs.10000', 'Post Graduate', '2', '12.977', '77.5773', '560009', 'Yes', 'Negative ', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.8988', '77.5764', '560078', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '4', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '6', '12.8893', '77.6399', '560068', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '3', '12.982', '77.6256', '560008', 'Yes', 'Negative ', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '4', '12.8988', '77.5764', '560078', 'Yes', 'Negative ', 'Yes']
['21', 'Female', 'Single', 'Student', 'Below Rs.10000', 'Post Graduate', '1', '12.9783', '77.6408', '560038', 'Yes', 'Positive', 'Yes']
['24', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0298', '77.6047', '560032', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '4', '12.9983', '77.6409', '560033', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '4', '12.9925', '77.5633', '560021', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'Below Rs.10000', 'Post Graduate', '3', '12.9306', '77.5434', '560085', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.982', '77.6256', '560008', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.9353', '77.5585', '560050', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9155', '77.5135', '560098', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'Below Rs.10000', 'Post Graduate', '4', '13.0019', '77.5713', '560003', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.9783', '77.6408', '560038', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', '10001 to 25000', 'Post Graduate', '5', '12.985', '77.5533', '560010', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.9119', '77.6446', '560102', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', '10001 to 25000', 'Post Graduate', '3', '12.9306', '77.5434', '560085', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.977', '77.5773', '560009', 'No', 'Positive', 'No']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9438', '77.5738', '560004', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.8988', '77.5764', '560078', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '3', '12.9565', '77.5484', '560026', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.9925', '77.5633', '560021', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.985', '77.5533', '560010', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '5', '12.985', '77.5533', '560010', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '3', '12.982', '77.6256', '560008', 'Yes', 'Negative ', 'Yes']
['22', 'Female', 'Single', 'Student', '10001 to 25000', 'Post Graduate', '5', '12.985', '77.5533', '560010', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '5', '13.0206', '77.6479', '560043', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['24', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.9635', '77.5821', '560002', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9306', '77.5434', '560085', 'Yes', 'Positive', 'Yes']
['28', 'Female', 'Married', 'Student', 'No Income', 'Graduate', '2', '13.0067', '77.545', '560086', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '1', '12.8845', '77.6036', '560076', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0067', '77.545', '560086', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.8988', '77.5764', '560078', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.8845', '77.6036', '560076', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', '25001 to 50000', 'Post Graduate', '1', '13.0158', '77.539', '560096', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '4', '12.9343', '77.6044', '560029', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '13.0019', '77.5713', '560003', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '6', '13.0012', '77.5995', '560046', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0487', '77.5923', '560024', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0487', '77.5923', '560024', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '4', '12.9889', '77.5741', '560020', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', '10001 to 25000', 'Post Graduate', '3', '12.9335', '77.5691', '560028', 'No', 'Positive', 'No']
['25', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9766', '77.5993', '560001', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.8845', '77.6036', '560076', 'Yes', 'Positive', 'Yes']
['26', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0019', '77.5713', '560003', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', '25001 to 50000', 'Post Graduate', '3', '13.102', '77.5864', '560064', 'Yes', 'Positive', 'Yes']
['26', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.9048', '77.6821', '560036', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '4', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['24', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.9337', '77.59', '560011', 'Yes', 'Positive', 'Yes']
['24', 'Male', 'Single', 'Student', '10001 to 25000', 'Post Graduate', '4', '12.9037', '77.5376', '560061', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9343', '77.6044', '560029', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9438', '77.5738', '560004', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.9783', '77.6408', '560038', 'Yes', 'Positive', 'Yes']
['24', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.9337', '77.59', '560011', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '1', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.977', '77.5773', '560009', 'No', 'Positive', 'No']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '1', '12.9561', '77.5921', '560027', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '1', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '5', '13.0206', '77.6479', '560043', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '5', '13.0206', '77.6479', '560043', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', '10001 to 25000', 'Post Graduate', '3', '12.9335', '77.5691', '560028', 'No', 'Positive', 'No']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.9442', '77.6076', '560030', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', 'No Income', 'Ph.D', '3', '12.9438', '77.5738', '560004', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '1', '12.9343', '77.6044', '560029', 'Yes', 'Positive', 'Yes']
['18', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '5', '12.9635', '77.5821', '560002', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '1', '12.9343', '77.6044', '560029', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'Below Rs.10000', 'Post Graduate', '2', '12.9925', '77.5633', '560021', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '5', '13.0206', '77.6479', '560043', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['25', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0487', '77.5923', '560024', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '13.0019', '77.5713', '560003', 'Yes', 'Positive', 'Yes']
['19', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '13.0019', '77.5713', '560003', 'No', 'Negative ', 'No']
['19', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '4', '12.9537', '77.6176', '560047', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', 'Below Rs.10000', 'Post Graduate', '4', '12.9343', '77.6044', '560029', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '13.102', '77.5864', '560064', 'No', 'Positive', 'No']
['22', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '3', '13.0158', '77.539', '560096', 'Yes', 'Negative ', 'Yes']
['24', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '13.0138', '77.5877', '560006', 'No', 'Negative ', 'No']
['23', 'Male', 'Single', 'Student', 'More than 50000', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['24', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0496', '77.4941', '560073', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '12.9889', '77.5741', '560020', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'More than 50000', 'Post Graduate', '3', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0487', '77.5923', '560024', 'Yes', 'Positive', 'Yes']
['20', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9579', '77.6309', '560007', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9579', '77.6309', '560007', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0487', '77.5923', '560024', 'Yes', 'Positive', 'Yes']
['20', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9337', '77.59', '560011', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9337', '77.59', '560011', 'Yes', 'Positive', 'Yes']
['27', 'Female', 'Single', 'Student', 'No Income', 'Ph.D', '5', '13.0503', '77.5529', '560013', 'No', 'Negative ', 'No']
['24', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.9883', '77.5987', '560051', 'Yes', 'Positive', 'Yes']
['20', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '13.0626', '77.5284', '560015', 'No', 'Negative ', 'No']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '1', '13.0626', '77.5284', '560015', 'Yes', 'Positive', 'Yes']
['26', 'Female', 'Married', 'Student', 'Below Rs.10000', 'Ph.D', '3', '13.0166', '77.6804', '560016', 'Yes', 'Positive', 'Yes']
['25', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9551', '77.6593', '560017', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.957', '77.5637', '560018', 'No', 'Positive', 'No']
['23', 'Male', 'Single', 'Student', 'Below Rs.10000', 'Graduate', '3', '12.8652', '77.524', '560109', 'Yes', 'Negative ', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9889', '77.5741', '560020', 'No', 'Positive', 'No']
['22', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['24', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '13.0487', '77.5923', '560024', 'No', 'Negative ', 'No']
['22', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '3', '12.9343', '77.6044', '560029', 'Yes', 'Positive', 'Yes']
['19', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '6', '12.9442', '77.6076', '560030', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '2', '13.0298', '77.6047', '560032', 'No', 'Negative ', 'No']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.9261', '77.6221', '560034', 'Yes', 'Positive', 'Yes']
['24', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '5', '12.9621', '77.5376', '560104', 'Yes', 'Positive', 'Yes']
['25', 'Female', 'Single', 'Student', 'No Income', 'Ph.D', '3', '12.9048', '77.6821', '560036', 'Yes', 'Positive', 'Yes']
['20', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9261', '77.6221', '560034', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '1', '12.977', '77.5773', '560009', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '13.0012', '77.5995', '560046', 'No', 'Negative ', 'No']
['23', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '3', '13.0223', '77.7132', '560049', 'Yes', 'Positive', 'Yes']
['21', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '1', '12.9217', '77.5936', '560041', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9105', '77.4842', '560060', 'No', 'Positive', 'No']
['25', 'Female', 'Married', 'Student', 'No Income', 'Post Graduate', '2', '12.8834', '77.5486', '560062', 'Yes', 'Positive', 'Yes']
['21', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9149', '77.5635', '560070', 'Yes', 'Positive', 'Yes']
['24', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.9706', '77.6529', '560075', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '5', '12.9783', '77.6408', '560038', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '3', '13.0158', '77.539', '560096', 'Yes', 'Positive', 'Yes']
['24', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9561', '77.5921', '560027', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9369', '77.6407', '560095', 'No', 'Positive', 'No']
['22', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9369', '77.6407', '560095', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '13.0158', '77.539', '560096', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '3', '13.0641', '77.5931', '560092', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '6', '12.9847', '77.5491', '560100', 'Yes', 'Positive', 'Yes']
['20', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '3', '12.9299', '77.6848', '560103', 'Yes', 'Positive', 'Yes']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '2', '12.977', '77.5773', '560009', 'No', 'Negative ', 'No']
['23', 'Male', 'Single', 'Student', 'No Income', 'Post Graduate', '3', '12.9967', '77.7582', '560067', 'Yes', 'Positive', 'Yes']
['21', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.957', '77.5637', '560018', 'No', 'Negative ', 'No']
['22', 'Male', 'Single', 'Student', '25001 to 50000', 'Graduate', '3', '12.9783', '77.6408', '560038', 'Yes', 'Positive', 'Yes']
['22', 'Male', 'Married', 'Student', 'No Income', 'Graduate', '2', '13.0734', '77.5464', '560014', 'Yes', 'Positive', 'Yes']
['23', 'Female', 'Single', 'Student', 'No Income', 'Post Graduate', '4', '13.0487', '77.5923', '560024', 'Yes', 'Positive', 'Yes']
['22', 'Female', 'Single', 'Student', 'No Income', 'Graduate', '2', '12.9515', '77.4921', '560056', 'Yes', 'Positive', 'Yes']
['19', 'Male', 'Single', 'Student', 'No Income', 'Graduate', '6', '12.9048', '77.6821', '560036', 'Yes', 'Positive', 'Yes']

In [ ]:
#DictReader'ı kullanarak

with open("onlinefoods.csv") as file:
    csv_reader = csv.DictReader(file)

    print( len([user for user in csv_reader if user["Occupation"] == "Student"]) )

207

In [28]:
#20-30 yaş aralağındaki kişilerin konum listesini hazırlayın

with open("onlinefoods.csv") as file:
    csv_reader = csv.reader(file)
    liste= list(csv_reader)

    

    lat_long = [[x[8], x[9]] for x in liste[1:] if (20 <= int(x[0]) <=30)]

    print(lat_long)

[['77.5993', '560001'], ['77.5773', '560009'], ['77.6593', '560017'], ['77.5616', '560019'], ['77.5533', '560010'], ['77.6848', '560103'], ['77.5773', '560009'], ['77.6131', '560042'], ['77.5993', '560001'], ['77.7081', '560048'], ['77.5533', '560010'], ['77.5773', '560009'], ['77.5764', '560078'], ['77.5773', '560009'], ['77.5738', '560004'], ['77.6399', '560068'], ['77.6408', '560038'], ['77.6256', '560008'], ['77.5764', '560078'], ['77.6408', '560038'], ['77.5773', '560009'], ['77.6047', '560032'], ['77.6409', '560033'], ['77.5633', '560021'], ['77.5434', '560085'], ['77.6256', '560008'], ['77.5585', '560050'], ['77.5135', '560098'], ['77.7081', '560048'], ['77.5713', '560003'], ['77.75', '560066'], ['77.6408', '560038'], ['77.6221', '560034'], ['77.5533', '560010'], ['77.6446', '560102'], ['77.5434', '560085'], ['77.5773', '560009'], ['77.5738', '560004'], ['77.5764', '560078'], ['77.6068', '560025'], ['77.5484', '560026'], ['77.5633', '560021'], ['77.5533', '560010'], ['77.5533', '560010'], ['77.6221', '560034'], ['77.5773', '560009'], ['77.5773', '560009'], ['77.6256', '560008'], ['77.5533', '560010'], ['77.6479', '560043'], ['77.5773', '560009'], ['77.5773', '560009'], ['77.5821', '560002'], ['77.5434', '560085'], ['77.545', '560086'], ['77.6036', '560076'], ['77.5773', '560009'], ['77.545', '560086'], ['77.5764', '560078'], ['77.6036', '560076'], ['77.539', '560096'], ['77.6044', '560029'], ['77.5713', '560003'], ['77.5995', '560046'], ['77.6076', '560030'], ['77.5923', '560024'], ['77.5923', '560024'], ['77.5738', '560004'], ['77.5741', '560020'], ['77.5691', '560028'], ['77.5993', '560001'], ['77.6036', '560076'], ['77.5713', '560003'], ['77.5864', '560064'], ['77.6821', '560036'], ['77.5773', '560009'], ['77.5773', '560009'], ['77.59', '560011'], ['77.5376', '560061'], ['77.5773', '560009'], ['77.6044', '560029'], ['77.5738', '560004'], ['77.5773', '560009'], ['77.6408', '560038'], ['77.59', '560011'], ['77.5773', '560009'], ['77.5773', '560009'], ['77.54', '560022'], ['77.54', '560022'], ['77.75', '560066'], ['77.5773', '560009'], ['77.5773', '560009'], ['77.5921', '560027'], ['77.5773', '560009'], ['77.6479', '560043'], ['77.6479', '560043'], ['77.6309', '560007'], ['77.5691', '560028'], ['77.6076', '560030'], ['77.75', '560066'], ['77.5738', '560004'], ['77.6221', '560034'], ['77.75', '560066'], ['77.75', '560066'], ['77.6044', '560029'], ['77.75', '560066'], ['77.5773', '560009'], ['77.6044', '560029'], ['77.5633', '560021'], ['77.6479', '560043'], ['77.5533', '560010'], ['77.6593', '560017'], ['77.5877', '560006'], ['77.5993', '560001'], ['77.5993', '560001'], ['77.5993', '560001'], ['77.5821', '560002'], ['77.5821', '560002'], ['77.5821', '560002'], ['77.5773', '560009'], ['77.5773', '560009'], ['77.5773', '560009'], ['77.5923', '560024'], ['77.5713', '560003'], ['77.5713', '560003'], ['77.75', '560066'], ['77.6227', '560005'], ['77.6227', '560005'], ['77.6044', '560029'], ['77.5864', '560064'], ['77.539', '560096'], ['77.6227', '560005'], ['77.6227', '560005'], ['77.5877', '560006'], ['77.5877', '560006'], ['77.5773', '560009'], ['77.4941', '560073'], ['77.5741', '560020'], ['77.5773', '560009'], ['77.5923', '560024'], ['77.6309', '560007'], ['77.6309', '560007'], ['77.6309', '560007'], ['77.5923', '560024'], ['77.5533', '560010'], ['77.5533', '560010'], ['77.59', '560011'], ['77.59', '560011'], ['77.59', '560011'], ['77.6804', '560016'], ['77.5658', '560012'], ['77.5658', '560012'], ['77.5529', '560013'], ['77.5529', '560013'], ['77.5987', '560051'], ['77.5284', '560015'], ['77.5284', '560015'], ['77.5284', '560015'], ['77.6804', '560016'], ['77.6804', '560016'], ['77.6593', '560017'], ['77.6593', '560017'], ['77.6593', '560017'], ['77.5637', '560018'], ['77.5637', '560018'], ['77.5637', '560018'], ['77.5637', '560018'], ['77.5637', '560018'], ['77.524', '560109'], ['77.75', '560066'], ['77.5741', '560020'], ['77.5633', '560021'], ['77.5773', '560009'], ['77.5586', '560023'], ['77.5586', '560023'], ['77.5923', '560024'], ['77.6068', '560025'], ['77.6044', '560029'], ['77.6044', '560029'], ['77.6044', '560029'], ['77.6076', '560030'], ['77.6076', '560030'], ['77.6047', '560032'], ['77.6221', '560034'], ['77.5376', '560104'], ['77.6036', '560076'], ['77.6821', '560036'], ['77.6821', '560036'], ['77.6221', '560034'], ['77.6221', '560034'], ['77.5773', '560009'], ['77.6408', '560038'], ['77.6408', '560038'], ['77.5936', '560041'], ['77.6479', '560043'], ['77.5995', '560046'], ['77.7132', '560049'], ['77.59', '560011'], ['77.62', '560045'], ['77.5936', '560041'], ['77.5577', '560055'], ['77.5936', '560041'], ['77.4842', '560060'], ['77.4842', '560060'], ['77.5486', '560062'], ['77.5635', '560070'], ['77.5635', '560070'], ['77.6529', '560075'], ['77.6529', '560075'], ['77.6036', '560076'], ['77.6408', '560038'], ['77.5796', '560080'], ['77.5796', '560080'], ['77.5434', '560085'], ['77.5931', '560092'], ['77.539', '560096'], ['77.5921', '560027'], ['77.6036', '560076'], ['77.6407', '560095'], ['77.6407', '560095'], ['77.6407', '560095'], ['77.539', '560096'], ['77.5565', '560097'], ['77.5931', '560092'], ['77.6713', '560093'], ['77.6713', '560093'], ['77.5491', '560100'], ['77.5491', '560100'], ['77.5491', '560100'], ['77.6848', '560103'], ['77.6848', '560103'], ['77.6131', '560042'], ['77.5332', '560079'], ['77.5773', '560009'], ['77.4992', '560059'], ['77.7582', '560067'], ['77.7582', '560067'], ['77.7582', '560067'], ['77.5637', '560018'], ['77.5637', '560018'], ['77.5741', '560020'], ['77.6479', '560043'], ['77.6399', '560068'], ['77.6399', '560068'], ['77.7582', '560067'], ['77.6408', '560038'], ['77.6408', '560038'], ['77.5633', '560021'], ['77.5633', '560021'], ['77.5921', '560027'], ['77.5921', '560027'], ['77.5464', '560014'], ['77.5923', '560024'], ['77.4921', '560056'], ['77.4921', '560056'], ['77.5128', '560072'], ['77.6821', '560036'], ['77.5796', '560080'], ['77.5796', '560080'], ['77.6399', '560068'], ['77.6131', '560042'], ['77.5586', '560023'], ['77.5586', '560023'], ['77.5586', '560023'], ['77.5464', '560014'], ['77.5464', '560014'], ['77.5464', '560014'], ['77.5284', '560015'], ['77.5284', '560015'], ['77.5773', '560009'], ['77.6227', '560005'], ['77.5284', '560015'], ['77.5284', '560015'], ['77.5877', '560006'], ['77.5877', '560006'], ['77.5658', '560012'], ['77.6593', '560017'], ['77.5616', '560019'], ['77.5533', '560010'], ['77.6848', '560103'], ['77.5773', '560009'], ['77.6131', '560042'], ['77.5993', '560001'], ['77.7081', '560048'], ['77.5533', '560010'], ['77.5773', '560009'], ['77.5486', '560062'], ['77.5635', '560070'], ['77.5635', '560070'], ['77.6529', '560075'], ['77.6529', '560075'], ['77.6036', '560076'], ['77.6408', '560038'], ['77.5796', '560080'], ['77.5796', '560080'], ['77.5434', '560085'], ['77.5931', '560092'], ['77.539', '560096'], ['77.5921', '560027'], ['77.6036', '560076'], ['77.6407', '560095'], ['77.6407', '560095'], ['77.6036', '560076'], ['77.6821', '560036'], ['77.6821', '560036'], ['77.6221', '560034'], ['77.6221', '560034'], ['77.5773', '560009'], ['77.6408', '560038'], ['77.6408', '560038'], ['77.5936', '560041'], ['77.6479', '560043'], ['77.5995', '560046'], ['77.7132', '560049'], ['77.59', '560011'], ['77.6256', '560008'], ['77.62', '560045'], ['77.5936', '560041'], ['77.6036', '560076'], ['77.6821', '560036'], ['77.6821', '560036'], ['77.6221', '560034'], ['77.6221', '560034'], ['77.5773', '560009'], ['77.6408', '560038'], ['77.6408', '560038'], ['77.5936', '560041'], ['77.6479', '560043'], ['77.5995', '560046'], ['77.6529', '560075'], ['77.6529', '560075'], ['77.6036', '560076'], ['77.6408', '560038'], ['77.5796', '560080'], ['77.5796', '560080'], ['77.5931', '560092'], ['77.539', '560096'], ['77.5921', '560027'], ['77.6036', '560076'], ['77.6407', '560095'], ['77.6407', '560095'], ['77.6407', '560095'], ['77.6407', '560095'], ['77.539', '560096'], ['77.5565', '560097'], ['77.5931', '560092'], ['77.6713', '560093'], ['77.6713', '560093'], ['77.5491', '560100'], ['77.5533', '560010'], ['77.6848', '560103'], ['77.5773', '560009'], ['77.6131', '560042'], ['77.5993', '560001'], ['77.7081', '560048'], ['77.5533', '560010'], ['77.5773', '560009'], ['77.5764', '560078']]

In [31]:
#using DictReader

with open("onlinefoods.csv") as file:
    csv_reader = csv.DictReader(file)

    latlong2 = [[x["latitude"], x["longitude"]] for x in csv_reader if (20 <= int(x["Age"]) <=30)]
    print(latlong2)

[['12.9766', '77.5993'], ['12.977', '77.5773'], ['12.9551', '77.6593'], ['12.9473', '77.5616'], ['12.985', '77.5533'], ['12.9299', '77.6848'], ['12.977', '77.5773'], ['12.9828', '77.6131'], ['12.9766', '77.5993'], ['12.9854', '77.7081'], ['12.985', '77.5533'], ['12.977', '77.5773'], ['12.8988', '77.5764'], ['12.977', '77.5773'], ['12.9438', '77.5738'], ['12.8893', '77.6399'], ['12.9783', '77.6408'], ['12.982', '77.6256'], ['12.8988', '77.5764'], ['12.9783', '77.6408'], ['12.977', '77.5773'], ['13.0298', '77.6047'], ['12.9983', '77.6409'], ['12.9925', '77.5633'], ['12.9306', '77.5434'], ['12.982', '77.6256'], ['12.9353', '77.5585'], ['12.9155', '77.5135'], ['12.9854', '77.7081'], ['13.0019', '77.5713'], ['12.9698', '77.75'], ['12.9783', '77.6408'], ['12.9261', '77.6221'], ['12.985', '77.5533'], ['12.9119', '77.6446'], ['12.9306', '77.5434'], ['12.977', '77.5773'], ['12.9438', '77.5738'], ['12.8988', '77.5764'], ['12.9662', '77.6068'], ['12.9565', '77.5484'], ['12.9925', '77.5633'], ['12.985', '77.5533'], ['12.985', '77.5533'], ['12.9261', '77.6221'], ['12.977', '77.5773'], ['12.977', '77.5773'], ['12.982', '77.6256'], ['12.985', '77.5533'], ['13.0206', '77.6479'], ['12.977', '77.5773'], ['12.977', '77.5773'], ['12.9635', '77.5821'], ['12.9306', '77.5434'], ['13.0067', '77.545'], ['12.8845', '77.6036'], ['12.977', '77.5773'], ['13.0067', '77.545'], ['12.8988', '77.5764'], ['12.8845', '77.6036'], ['13.0158', '77.539'], ['12.9343', '77.6044'], ['13.0019', '77.5713'], ['13.0012', '77.5995'], ['12.9442', '77.6076'], ['13.0487', '77.5923'], ['13.0487', '77.5923'], ['12.9438', '77.5738'], ['12.9889', '77.5741'], ['12.9335', '77.5691'], ['12.9766', '77.5993'], ['12.8845', '77.6036'], ['13.0019', '77.5713'], ['13.102', '77.5864'], ['12.9048', '77.6821'], ['12.977', '77.5773'], ['12.977', '77.5773'], ['12.9337', '77.59'], ['12.9037', '77.5376'], ['12.977', '77.5773'], ['12.9343', '77.6044'], ['12.9438', '77.5738'], ['12.977', '77.5773'], ['12.9783', '77.6408'], ['12.9337', '77.59'], ['12.977', '77.5773'], ['12.977', '77.5773'], ['13.0289', '77.54'], ['13.0289', '77.54'], ['12.9698', '77.75'], ['12.977', '77.5773'], ['12.977', '77.5773'], ['12.9561', '77.5921'], ['12.977', '77.5773'], ['13.0206', '77.6479'], ['13.0206', '77.6479'], ['12.9579', '77.6309'], ['12.9335', '77.5691'], ['12.9442', '77.6076'], ['12.9698', '77.75'], ['12.9438', '77.5738'], ['12.9261', '77.6221'], ['12.9698', '77.75'], ['12.9698', '77.75'], ['12.9343', '77.6044'], ['12.9698', '77.75'], ['12.977', '77.5773'], ['12.9343', '77.6044'], ['12.9925', '77.5633'], ['13.0206', '77.6479'], ['12.985', '77.5533'], ['12.9551', '77.6593'], ['13.0138', '77.5877'], ['12.9766', '77.5993'], ['12.9766', '77.5993'], ['12.9766', '77.5993'], ['12.9635', '77.5821'], ['12.9635', '77.5821'], ['12.9635', '77.5821'], ['12.977', '77.5773'], ['12.977', '77.5773'], ['12.977', '77.5773'], ['13.0487', '77.5923'], ['13.0019', '77.5713'], ['13.0019', '77.5713'], ['12.9698', '77.75'], ['12.998', '77.6227'], ['12.998', '77.6227'], ['12.9343', '77.6044'], ['13.102', '77.5864'], ['13.0158', '77.539'], ['12.998', '77.6227'], ['12.998', '77.6227'], ['13.0138', '77.5877'], ['13.0138', '77.5877'], ['12.977', '77.5773'], ['13.0496', '77.4941'], ['12.9889', '77.5741'], ['12.977', '77.5773'], ['13.0487', '77.5923'], ['12.9579', '77.6309'], ['12.9579', '77.6309'], ['12.9579', '77.6309'], ['13.0487', '77.5923'], ['12.985', '77.5533'], ['12.985', '77.5533'], ['12.9337', '77.59'], ['12.9337', '77.59'], ['12.9337', '77.59'], ['13.0166', '77.6804'], ['13.014', '77.5658'], ['13.014', '77.5658'], ['13.0503', '77.5529'], ['13.0503', '77.5529'], ['12.9883', '77.5987'], ['13.0626', '77.5284'], ['13.0626', '77.5284'], ['13.0626', '77.5284'], ['13.0166', '77.6804'], ['13.0166', '77.6804'], ['12.9551', '77.6593'], ['12.9551', '77.6593'], ['12.9551', '77.6593'], ['12.957', '77.5637'], ['12.957', '77.5637'], ['12.957', '77.5637'], ['12.957', '77.5637'], ['12.957', '77.5637'], ['12.8652', '77.524'], ['12.9698', '77.75'], ['12.9889', '77.5741'], ['12.9925', '77.5633'], ['12.977', '77.5773'], ['12.9757', '77.5586'], ['12.9757', '77.5586'], ['13.0487', '77.5923'], ['12.9662', '77.6068'], ['12.9343', '77.6044'], ['12.9343', '77.6044'], ['12.9343', '77.6044'], ['12.9442', '77.6076'], ['12.9442', '77.6076'], ['13.0298', '77.6047'], ['12.9261', '77.6221'], ['12.9621', '77.5376'], ['12.8845', '77.6036'], ['12.9048', '77.6821'], ['12.9048', '77.6821'], ['12.9261', '77.6221'], ['12.9261', '77.6221'], ['12.977', '77.5773'], ['12.9783', '77.6408'], ['12.9783', '77.6408'], ['12.9217', '77.5936'], ['13.0206', '77.6479'], ['13.0012', '77.5995'], ['13.0223', '77.7132'], ['12.9337', '77.59'], ['13.0262', '77.62'], ['12.9217', '77.5936'], ['13.0078', '77.5577'], ['12.9217', '77.5936'], ['12.9105', '77.4842'], ['12.9105', '77.4842'], ['12.8834', '77.5486'], ['12.9149', '77.5635'], ['12.9149', '77.5635'], ['12.9706', '77.6529'], ['12.9706', '77.6529'], ['12.8845', '77.6036'], ['12.9783', '77.6408'], ['13.0103', '77.5796'], ['13.0103', '77.5796'], ['12.9306', '77.5434'], ['13.0641', '77.5931'], ['13.0158', '77.539'], ['12.9561', '77.5921'], ['12.8845', '77.6036'], ['12.9369', '77.6407'], ['12.9369', '77.6407'], ['12.9369', '77.6407'], ['13.0158', '77.539'], ['13.0809', '77.5565'], ['13.0641', '77.5931'], ['12.9859', '77.6713'], ['12.9859', '77.6713'], ['12.9847', '77.5491'], ['12.9847', '77.5491'], ['12.9847', '77.5491'], ['12.9299', '77.6848'], ['12.9299', '77.6848'], ['12.9828', '77.6131'], ['12.989', '77.5332'], ['12.977', '77.5773'], ['12.9251', '77.4992'], ['12.9967', '77.7582'], ['12.9967', '77.7582'], ['12.9967', '77.7582'], ['12.957', '77.5637'], ['12.957', '77.5637'], ['12.9889', '77.5741'], ['13.0206', '77.6479'], ['12.8893', '77.6399'], ['12.8893', '77.6399'], ['12.9967', '77.7582'], ['12.9783', '77.6408'], ['12.9783', '77.6408'], ['12.9925', '77.5633'], ['12.9925', '77.5633'], ['12.9561', '77.5921'], ['12.9561', '77.5921'], ['13.0734', '77.5464'], ['13.0487', '77.5923'], ['12.9515', '77.4921'], ['12.9515', '77.4921'], ['12.9719', '77.5128'], ['12.9048', '77.6821'], ['13.0103', '77.5796'], ['13.0103', '77.5796'], ['12.8893', '77.6399'], ['12.9828', '77.6131'], ['12.9757', '77.5586'], ['12.9757', '77.5586'], ['12.9757', '77.5586'], ['13.0734', '77.5464'], ['13.0734', '77.5464'], ['13.0734', '77.5464'], ['13.0626', '77.5284'], ['13.0626', '77.5284'], ['12.977', '77.5773'], ['12.998', '77.6227'], ['13.0626', '77.5284'], ['13.0626', '77.5284'], ['13.0138', '77.5877'], ['13.0138', '77.5877'], ['13.014', '77.5658'], ['12.9551', '77.6593'], ['12.9473', '77.5616'], ['12.985', '77.5533'], ['12.9299', '77.6848'], ['12.977', '77.5773'], ['12.9828', '77.6131'], ['12.9766', '77.5993'], ['12.9854', '77.7081'], ['12.985', '77.5533'], ['12.977', '77.5773'], ['12.8834', '77.5486'], ['12.9149', '77.5635'], ['12.9149', '77.5635'], ['12.9706', '77.6529'], ['12.9706', '77.6529'], ['12.8845', '77.6036'], ['12.9783', '77.6408'], ['13.0103', '77.5796'], ['13.0103', '77.5796'], ['12.9306', '77.5434'], ['13.0641', '77.5931'], ['13.0158', '77.539'], ['12.9561', '77.5921'], ['12.8845', '77.6036'], ['12.9369', '77.6407'], ['12.9369', '77.6407'], ['12.8845', '77.6036'], ['12.9048', '77.6821'], ['12.9048', '77.6821'], ['12.9261', '77.6221'], ['12.9261', '77.6221'], ['12.977', '77.5773'], ['12.9783', '77.6408'], ['12.9783', '77.6408'], ['12.9217', '77.5936'], ['13.0206', '77.6479'], ['13.0012', '77.5995'], ['13.0223', '77.7132'], ['12.9337', '77.59'], ['12.982', '77.6256'], ['13.0262', '77.62'], ['12.9217', '77.5936'], ['12.8845', '77.6036'], ['12.9048', '77.6821'], ['12.9048', '77.6821'], ['12.9261', '77.6221'], ['12.9261', '77.6221'], ['12.977', '77.5773'], ['12.9783', '77.6408'], ['12.9783', '77.6408'], ['12.9217', '77.5936'], ['13.0206', '77.6479'], ['13.0012', '77.5995'], ['12.9706', '77.6529'], ['12.9706', '77.6529'], ['12.8845', '77.6036'], ['12.9783', '77.6408'], ['13.0103', '77.5796'], ['13.0103', '77.5796'], ['13.0641', '77.5931'], ['13.0158', '77.539'], ['12.9561', '77.5921'], ['12.8845', '77.6036'], ['12.9369', '77.6407'], ['12.9369', '77.6407'], ['12.9369', '77.6407'], ['12.9369', '77.6407'], ['13.0158', '77.539'], ['13.0809', '77.5565'], ['13.0641', '77.5931'], ['12.9859', '77.6713'], ['12.9859', '77.6713'], ['12.9847', '77.5491'], ['12.985', '77.5533'], ['12.9299', '77.6848'], ['12.977', '77.5773'], ['12.9828', '77.6131'], ['12.9766', '77.5993'], ['12.9854', '77.7081'], ['12.985', '77.5533'], ['12.977', '77.5773'], ['12.8988', '77.5764']]