LAMBDA FUNCTIONS - LAMBDA FONKSİYONLARI

Besides the def statement, Python also provides an expression form that generates function objects. 

this expression creates a function to be called later, but it returns the function instead of assigning it to a name. This is why lambdas are sometimes known as anonymous (i.e., unnamed) functions.

Sometimes, especially when the operations of the function are simple and used only once, it is more convenient to simply use a
small code block as a function without defining a function with a name.

Uygulamada, sıklıkla bir fonksiyon tanımını satır içine yerleştirmenin veya bir kod parçasının yürütülmesini ertelemenin bir yolu olarak kullanılırlar.



lambda argument1, argument2,... argumentN : expression using arguments


```lambda <formal argument list> : <expression whose value is to be returned>```



lambda is an expression, not a statement.

lambda’s body is a single expression, not a block of statements.

In [1]:
#how to make a function with a def statement:

def karesi(x):
    return x ** 2

karesi(2)

4

In [3]:
#lambdanın dışına bir parantez açıp arg vererek sonuç alabiliyoruz
print((lambda x : x ** 2)(2))

4

In [4]:
#lambda için birden çok değişken tanımlama

toplama = lambda a, b, c : a + b + c

toplama(1, 2, 3)

6

In [6]:
#fonk içinde lambda fonk kullanmak
def my_func(n):
    return lambda a: a ** n

my_func(2)(3)

9

In [13]:
#assign the function to a variable and use it as a func, farklı fonk üreterek
karesi = my_func(2)

karesi(3)

9

In [12]:
cube = my_func(3)

cube(2)

8

In [1]:
#A lambda expression can also have two or more formal arguments

(lambda x, y : x + y)(5,3)

8

In [9]:
#An anonymous function can even be defined to take a variable-­length list of arguments

(lambda  *x: sum(x) * 3)(1,2,3,4,5)

45

In [10]:
#Although an anonymous function is meant to have no name, you still can:

double_it = lambda x : x * 2
double_it(7)

14

In [122]:
#updating all the counters in a list can be done easily with a for loop:

sayac = [1, 2, 3, 4, 5]

tik = []

for x in sayac:
    tik.append(x + 10)

tik

[11, 12, 13, 14, 15]

In [127]:
def say(x):
    return x + 10

#The map function applies a passed-in function to each item in an iterable object and returns a list containing all the function call results. 
list(map(say, sayac))

[11, 12, 13, 14, 15]

In [124]:
#the function below adds 3 to each item in the counters list; as this little function isn’t needed elsewhere, it was written inline as a lambda:
list(map((lambda x : x + 10), sayac))

[11, 12, 13, 14, 15]

In [126]:
#code a general mapping utility yourself:

def mymap(func, seq):
    res = []
    for x in seq: res.append(func(x))
    return res

In [128]:
#map it across a sequence (or other iterable) 

mymap(say, sayac)

[11, 12, 13, 14, 15]

In [157]:
#use list comprehension to generate items using say()
[say(x) for x in sayac]

[11, 12, 13, 14, 15]

In [162]:
#using a  generator object gnerating a value on request  to save memory and increase responsiveness
list( (say(x) for x in sayac) )

[11, 12, 13, 14, 15]

In [158]:
list(map((lambda x, y: x ** y),[1,2,3], [2,3,4]))

[1, 8, 81]

In [159]:
def usal(x, y):
    
    return  x ** y

In [160]:
#given multiple sequence arguments, map func sends items taken from sequences in parallel as distinct arguments to the function:

z = list(map(usal, [3,4,5],[4,5,6]))

z

[81, 1024, 15625]

In [8]:
# Defaults work on lambda arguments, just like in a def
res = (lambda a = "ali", b = "veli", c="kırkdokuzelli": a + b + c)

res("toygar")

'toygarvelikırkdokuzelli'

In [15]:
#to code jump tables
liste = [ lambda x: x **2, lambda x : x **3, lambda x: x ** 4]

for expo in liste:
    print(expo(2))

4
8
16

In [16]:
liste[1](2)

8

In [18]:
# retrieved the lambda function (lambda: 2 * 4) accessed by dict key KEY, adding () at the end will call the function.


key = 'got'
{'already': (lambda: 2 + 2),
'got':  (lambda: 2 * 4),
'one': (lambda: 2 ** 6)}[key]()

8

In [19]:
dict1 = {'already': (lambda: 2 + 2),
'got':  (lambda: 2 * 4),
'one': (lambda: 2 ** 6)}

dict1[key]()

8

In [12]:
#nest a selection logic 

low = (lambda x, y: x if x < y else y)

low("yy", "xx")

'xx'

In [112]:
# nested function scopes is that a lambda also has access to the names in any enclosing lambda

# the nested lambda structure makes a function that makes a function when called.

# the nested lambda’s code has access to the variable x in the enclosing lambda

((lambda x : (lambda y: x + y))(4))(5)

9

In [120]:
#which can also be done by creating function with lambda func nested in:

def topla(x):
    return (lambda y : x + y)

lambda_topl =  topla(4)
lambda_topl

In [121]:
lambda_topl(5)

9

## Map Fonksiyonu ile Kullanmak

Elimizdeki bir listeye bir kriteri uygulamak için

yeni liste oluşur, kaç eleman varsa çıktı da o kadar eleman olur

In [7]:
nums = [1, 2, 3, 4, 5, 6, 7]

squared = []

In [8]:
#for loop ile karelerini almak

for num in nums:
    squared.append(num ** 2)

print(squared)

[1, 4, 9, 16, 25, 36, 49]

In [9]:
#fonk ile aynı işlemi yapmak

def square(x):
    return x ** 2

square(4)

16

In [10]:
#geriye bir map fonk nesnesi alırız
res1 = map(square, nums)

res1

In [11]:
#map fonk objeyi görüntelemek için list fonku kullanırız

res2 = list(map(square, nums))

res2

[1, 4, 9, 16, 25, 36, 49]

In [13]:
#lambda fonku kullanmak map içinde

res3 = list(map((lambda x: x ** 2), nums))

res3

[1, 4, 9, 16, 25, 36, 49]

In [23]:
#string rakamların oluşturduğu listeyi int e çevirmek
nums_str = ["1", "2", "3"]

res4 = list(map((lambda x : int(x)), nums_str))   #same map(int(x), nums_str)

res4

[1, 2, 3]

In [26]:
names = ["zehra", "vargas", "hande", "eda", "cansu"]

res5 =  list(map(str.capitalize, names))

res5

['Zehra', 'Vargas', 'Hande', 'Eda', 'Cansu']

In [28]:
users = [
    {"name": "Toygar", "lastname": "Par"},
    {"name": "Böçüş", "lastname": "Par"}

]

In [29]:
res6 = list(map((lambda user: user["name"]), users))

res6

['Toygar', 'Böçüş']

In [34]:
res7 = list(map((lambda user: f"{user["name"]} {user["lastname"]}"), users))
res7

['Toygar Par', 'Böçüş Par']

## Filter Fonksiyonu

liste elemanları üzerinde elimizdeki kritere göre geri dönecek liste elemanlarını belirleriz

In [48]:
numf = [ 1, 3, 5, 4, 8, -7, -9]

In [49]:
#neg sayıları almak için fonk yazalım:
def neg_nums(x):
    if x < 0:
        return True
    else:
        return False

In [50]:
res8 = list(filter(neg_nums, numf))
filter(neg_nums, numf)

In [51]:
res8

[-7, -9]

In [52]:
#aynı işlemi lambda fonku ile yapmak

res9 = list(filter((lambda x : x < 0), numf))

res9

[-7, -9]

In [56]:
#tek sayıları getirelim

res10 = list(filter((lambda x : x % 2 != 0), numf))

res10

[1, 3, 5, -7, -9]

In [164]:
list(range(-3, 3))

[-3, -2, -1, 0, 1, 2]

In [167]:
[x for x in range(-3, 3) if x > 0]

[1, 2]

In [166]:
list(filter((lambda x: x > 0), range(-3, 3)))

[1, 2]

In [57]:
#m ile başlayan oyuncuları getirelim

playerz = [ "markova", "bosetti", "kipp", "zehra", "van ryk"]

In [61]:
res11 = list(filter((lambda x: x[0] == "m"), playerz))

res11

['markova']

In [78]:
res12 = list(filter((lambda x: x.startswith("m")), playerz))
res12

['markova']

In [73]:
res13 = list(filter(lambda x: x.startswith("M") , map(lambda x: x.capitalize(), playerz)))

res13

['Markova']

In [76]:
res14 = list(map(lambda x: x.upper(),filter(lambda x: x.startswith("m"), playerz)))

res14

['MARKOVA']

In [80]:
filteredres = res12

res15 = list(map(lambda x: x.upper(), filteredres))  #yukardaki map ve filter lamdba fonkları böylede yazılabilir daha okunabilir olması için

res15

['MARKOVA']

In [81]:
userz = [
    { "username" : "toygarpar", "posts": ["post 1", "post 2"]},
    { "username" : "tacopar", "posts": ["post 1"]},
    { "username" : "buzzpar", "posts": ["post 1", "post 2", "post 3"]}


]

In [82]:
#t ile başlayan kullanıcıları getir

res16 = list(filter(lambda x : x["username"].startswith("t"), userz))

res16

[{'username': 'toygarpar', 'posts': ['post 1', 'post 2']},
 {'username': 'tacopar', 'posts': ['post 1']}]

In [83]:
#birde fazla postu olan kullanıcıları filtrele

res17 = list(filter(lambda x : len(x["posts"]) > 1, userz))

res17

[{'username': 'toygarpar', 'posts': ['post 1', 'post 2']},
 {'username': 'buzzpar', 'posts': ['post 1', 'post 2', 'post 3']}]

In [85]:
#birden fazla postu olan kullanıcıların sadece isimlerini getir

filteredres1 = list(filter(lambda x : len(x["posts"]) > 1, userz))

res18 = list(map(lambda x : x["username"], filteredres1))

res18

['toygarpar', 'buzzpar']

In [103]:
[ print(x) for x in res18]

toygarpar
buzzpar

[None, None]

In [105]:
[x["username"].upper() for x in userz if len(x["posts"]) > 1]

['TOYGARPAR', 'BUZZPAR']

In [106]:
[print(x) for x in [x["username"].upper() for x in userz if len(x["posts"]) > 1]]

TOYGARPAR
BUZZPAR

[None, None]

## REDUCE - from functools


 It accepts an iterable to process, but it’s not an iterable itself—it returns a single result.

In [1]:
from functools import reduce

reduce((lambda x , y: x + y), [1, 2, 3])

6

In [2]:
reduce((lambda x , y: x * y ), [1, 2, 3, 4])

24

In [7]:
"""
The function myreduce mimics the behavior of Python's built-in reduce function. It takes two parameters:

func: a function that will be applied to elements in the sequence.
seq: a sequence (e.g., a list) of items on which func will be applied.

"""





def myreduce( func, seq):
    sayim = seq[0]
    for sonraki in seq[1:]:
        sayim = func( sayim, sonraki)
    return sayim

In [8]:
myreduce((lambda x, y: x + y),  [1, 2, 3])

6

ANY ve ALL FONKSİYON Metotları

In [ ]:
#and operatörü larşılığına geliyor

#and - True and True ==> True  --> ALL

res19 =  all([True, True, False])

res19

False

In [ ]:
res20 = all([True, True, True])

res20

True

In [ ]:
#OR operatçrü karşılığına geliyor

#or -  True and False ==> TRue --> ANY

res21 = any([True, True, False])

res21

True

In [1]:
res22 = any([True, True, True])
res22

True

In [2]:
numz = [2, 4, 7, 9, 63, 0]

res23 = [bool(num) for num in numz]

res23

[True, True, True, True, True, False]

In [3]:
#bütün sayılar 0'dan büyük mü?

res24 = all([bool(num) for num in numz])

res24

False

In [4]:
res25 = any([bool(num) for num in numz])

res25

True

In [5]:
all([num % 2 == 0 for num in numz ])

False

In [7]:
all([num for num in numz if num % 2 ==0])

False

In [9]:
#nerhangi birçift sayı varmı liste içerisinde?

any([num for num in numz if num % 2 ==0])

True

In [11]:
users1   = ["toygar", "taco", "böçüş"]

[ user[0] == "t" for user in users1]

[True, True, False]

In [13]:
all([ user[0] == "t" for user in users1])

False

In [ ]:
any([ user[0] == "t" for user in users1])

SORTED FONKSİYONU

returns a new sorted list of elements in an iterable

In [14]:
nums1 = [2, 49, 6, 9, 75 ,33, 25]

In [ ]:
sorted(nums1)  #geriye yeni bir liste döndürür, nums1.sort() orijinal liste üzerinde bir güncellmeme yapmaz

[2, 6, 9, 25, 33, 49, 75]

In [18]:
sorted(nums1, reverse= True)

[75, 49, 33, 25, 9, 6, 2]

In [47]:
userblog = [
    {"username": "toygarpar", "posts": ["post 1", "post 2"], "email": "toygar@par.com", "phone": "555-5555"},
    {"username": "tacopar", "posts": ["post 1",], "email": "taco@par.com"},
    {"username": "buzzpar", "posts": ["post 1", "post 2", "post 3"], "email": "buzz@par.com"}
]

In [25]:
res26 =  sorted(userblog, key=len)
res26

[{'username': 'tacopar', 'posts': ['post 1'], 'email': 'taco@par.com'},
 {'username': 'buzzpar',
  'posts': ['post 1', 'post 2', 'post 3'],
  'email': 'buzz@par.com'},
 {'username': 'toygarpar',
  'posts': ['post 1', 'post 2'],
  'email': 'toygar@par.com',
  'phone': '555-5555'}]

In [26]:
sorted(userblog, key=len, reverse= True)

[{'username': 'toygarpar',
  'posts': ['post 1', 'post 2'],
  'email': 'toygar@par.com',
  'phone': '555-5555'},
 {'username': 'tacopar', 'posts': ['post 1'], 'email': 'taco@par.com'},
 {'username': 'buzzpar',
  'posts': ['post 1', 'post 2', 'post 3'],
  'email': 'buzz@par.com'}]

In [ ]:
#alfabetik sıraya göre 
sorted(userblog, key=lambda x: x['username'])

[{'username': 'buzzpar',
  'posts': ['post 1', 'post 2', 'post 3'],
  'email': 'buzz@par.com'},
 {'username': 'tacopar', 'posts': ['post 1'], 'email': 'taco@par.com'},
 {'username': 'toygarpar',
  'posts': ['post 1', 'post 2'],
  'email': 'toygar@par.com',
  'phone': '555-5555'}]

In [39]:
sorted(userblog, key=lambda x: x['username'], reverse=True)

[{'username': 'toygarpar',
  'posts': ['post 1', 'post 2'],
  'email': 'toygar@par.com',
  'phone': '555-5555'},
 {'username': 'tacopar', 'posts': ['post 1'], 'email': 'taco@par.com'},
 {'username': 'buzzpar',
  'posts': ['post 1', 'post 2', 'post 3'],
  'email': 'buzz@par.com'}]

In [35]:
sorted_userblog = [(key, value) for user in sorted(userblog, key=lambda x: x['username'], reverse=True) for key, value in user.items()]



sorted_userblog

[('username', 'toygarpar'),
 ('posts', ['post 1', 'post 2']),
 ('email', 'toygar@par.com'),
 ('phone', '555-5555'),
 ('username', 'tacopar'),
 ('posts', ['post 1']),
 ('email', 'taco@par.com'),
 ('username', 'buzzpar'),
 ('posts', ['post 1', 'post 2', 'post 3']),
 ('email', 'buzz@par.com')]

In [ ]:
#post sayılarına göre

sorted(userblog, key= lambda x: len(x["posts"]) > 1)

[{'username': 'tacopar', 'posts': ['post 1'], 'email': 'taco@par.com'},
 {'username': 'toygarpar',
  'posts': ['post 1', 'post 2'],
  'email': 'toygar@par.com',
  'phone': '555-5555'},
 {'username': 'buzzpar',
  'posts': ['post 1', 'post 2', 'post 3'],
  'email': 'buzz@par.com'}]

In [51]:
list(map(lambda user: user["username"], sorted(userblog, key= lambda user: len(user["posts"]), reverse = True)))

['buzzpar', 'toygarpar', 'tacopar']

In [59]:
ders = [
    {"title": "python", "count": 100},
    {"title": "golang", "count": 25},
    {"title": "bash", "count": 10},
    {"title": "javascript", "count": 75},
    {"title": "kotlin", "count": 10}

]

In [63]:
sorted( ders, key =  lambda x : x["count"] )

[{'title': 'bash', 'count': 10},
 {'title': 'kotlin', 'count': 10},
 {'title': 'golang', 'count': 25},
 {'title': 'javascript', 'count': 75},
 {'title': 'python', 'count': 100}]

In [64]:
sorted( ders, key =  lambda x : x["count"], reverse= True )

[{'title': 'python', 'count': 100},
 {'title': 'javascript', 'count': 75},
 {'title': 'golang', 'count': 25},
 {'title': 'bash', 'count': 10},
 {'title': 'kotlin', 'count': 10}]

In [65]:
list(map(lambda x : x["title"], sorted(ders, key = lambda x: x["count"])))

['bash', 'kotlin', 'golang', 'javascript', 'python']

In [66]:
list(map(lambda x : x["title"], sorted(ders, key = lambda x: x["count"], reverse = True)))

['python', 'javascript', 'golang', 'bash', 'kotlin']

MIN ve MAX FONSİYONLARI KULLANIMI

In [70]:
numz = [1,3,5,42,33,17,28,56]
charz = ["a", "h","m", "t"]

In [71]:
min(numz)

1

In [72]:
max(numz)

56

In [73]:
min(charz)

'a'

In [77]:
max(charz)

't'

In [79]:
ord(max(charz))

116

In [80]:
ord(min(charz))

97

In [1]:
names = [ "toygar", "taco", "buzz"]

In [2]:
min(names)

'buzz'

In [3]:
max(names)

'toygar'

In [5]:
[len(name) for name in names]

[6, 4, 4]

In [6]:
min([len(name) for name in names])

4

In [8]:
res27 =  max(names, key= lambda name : len(name))

res27

'toygar'

In [10]:
monitors = [
    {"brand" : "Msi", "price": 14999},
    {"brand" : "Samsung", "price" : 18799 },
    {"brand" : "Lg",   "price" : 13500}
]

In [16]:
#en ucuz monitor 

min(monitors, key= lambda x : x["price"])

{'brand': 'Lg', 'price': 13500}

In [18]:
#en pahalı monitörü getir
max(monitors, key = lambda monitor : monitor["price"] )["brand"]

'Samsung'

In [28]:
#başa bir yol:

max = 0

for mon in monitors:
    if mon["price"] > max:
        bra = mon["brand"]
        max = mon["price"]


print(bra, max)

Samsung 18799

SUM FONKSİYONU

In [30]:
numz1 = [1,3,5,42,33,17,28,56]

In [31]:

sum(numz1)

185

In [2]:
monitors = [
    {"brand" : "Msi", "price": 14999},
    {"brand" : "Samsung", "price" : 18799 },
    {"brand" : "Lg",   "price" : 13500}
]

In [3]:
[x for x in monitors]

[{'brand': 'Msi', 'price': 14999},
 {'brand': 'Samsung', 'price': 18799},
 {'brand': 'Lg', 'price': 13500}]

In [ ]:
#monitörlerin toplam fiyatı

sum([x["price"] for x in monitors])

47298

In [ ]:
#ortalama fiyat

sum([x["price"] for x in monitors])  / len(monitors)

15766.0

ROUND

In [10]:
round(3.1459, 2)

3.15