LOOPS / DÖNGÜLER

for ==> list


while ==> koşullu

In [2]:
nums = [1, 2, 3, 4, 7, 9, 11, 23, 35, 44, 57, 91 ,111, 136 ]

In [3]:
for num in nums:
    print(num)

1
2
3
4
7
9
11
23
35
44
57
91
111
136

In [4]:
for n in nums:
    print("Hail Toygar!")

Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!
Hail Toygar!

In [5]:
names = [ "Taco", "Buzz", "Çıtır", "Böçüş"]

In [6]:
for name in names:
    print(name)

Taco
Buzz
Çıtır
Böçüş

In [7]:
isim = "Toygar Par"

for i in isim:
    print(i)

T
o
y
g
a
r

P
a
r

In [8]:
my_tuple = [(1,2), (3,4), (5,6)]

In [9]:
for x in my_tuple:
    print(x)

(1, 2)
(3, 4)
(5, 6)

In [10]:
for a, b in my_tuple:
    print(a, b)

1 2
3 4
5 6

In [11]:
my_dict = { 35 : "İzmir" , 67 : "Zonguldak", 78: "Karabük"}

In [12]:
for x in my_dict:
    print(x)

35
67
78

In [13]:
for x in my_dict.items():
    print(x)

(35, 'İzmir')
(67, 'Zonguldak')
(78, 'Karabük')

In [18]:
for x, y in my_dict.items():
    print(x,y)

35 İzmir
67 Zonguldak
78 Karabük

In [15]:
for x in my_dict:
    print(x, my_dict[x])

35 İzmir
67 Zonguldak
78 Karabük

In [16]:
for x in my_dict.values():
    print(x)

İzmir
Zonguldak
Karabük

In [17]:
for x in my_dict.keys():
    print(x)

35
67
78

In [19]:
numz = [2, 3, 5,7, 3, 12 ,24, 36, 45]

In [21]:
for num in numz:
    print(num, end = " ")

2 3 5 7 3 12 24 36 45

In [29]:
#üçün katları
liste = []
for x in numz:
    if x % 3 == 0:
        liste.append(x)

print(liste)

[3, 3, 12, 24, 36, 45]

In [38]:
#listede sayıların toplamı
toplam = 0
for y in numz:
    toplam += y

print(toplam)

137

In [1]:
products =  ["huawei mate", "iphone 16", "samsung flip"]

In [2]:
for urun in products:
    print(urun)

huawei mate
iphone 16
samsung flip

In [3]:
i= 0
for urun in products:
    if urun == "iphone 16":
        i += 1
print(i)

1

In [4]:
for urun in products:
    print(urun.find("iphone"))

-1
0
-1

In [5]:
for urun in products:
    if urun.find("iphone") == 0:
        print(urun)

iphone 16

In [6]:
for urun in products:
    index = urun.find("iphone")
    if index > -1:
        print(urun)

iphone 16

In [7]:
adet = 0
for urun in products:
    index = urun.find("samsung")
    if index > -1:
        adet += 1
print(adet)

1

Dict Döngüleri

In [8]:
laptops = [
    {"nbname" : "Apple Macbook", "nbfiyat" : 1499 },
    {"nbname" : "Huawei Matebook", "nbfiyat" : 1199 },
    {"nbname" : "Lenov ThinkPad", "nbfiyat" : 1299 },
    {"nbname" : "MSI Pro", "nbfiyat" : 1399 },
    {"nbname" : "Monster Notebook", "nbfiyat" : 1099 }
]

In [14]:
for i in laptops:
    print(f'{i["nbname"]} marka dizüstü bilgisayarın fiyatı {i["nbfiyat"]} amerikan doları')

Apple Macbook marka dizüstü bilgisayarın fiyatı 1499 amerikan doları
Huawei Matebook marka dizüstü bilgisayarın fiyatı 1199 amerikan doları
Lenov ThinkPad marka dizüstü bilgisayarın fiyatı 1299 amerikan doları
MSI Pro marka dizüstü bilgisayarın fiyatı 1399 amerikan doları
Monster Notebook marka dizüstü bilgisayarın fiyatı 1099 amerikan doları

In [15]:
toplam = 0 
for i in laptops:
    toplam += i["nbfiyat"]
    print(toplam)

1499
2698
3997
5396
6495

In [16]:
for i in laptops:
    if  (1200 <= i["nbfiyat"] <= 1500):
        print(i["nbname"])

Apple Macbook
Lenov ThinkPad
MSI Pro

In [22]:
user = input("Notebook marka adı giriniz: ")

for i in laptops:
    
    if i["nbname"].lower().find(user.lower()) > -1:
        print(i["nbname"])

Huawei Matebook

WHILE DÖNGÜSÜ

koşullu bir durumda code bloğu çalıştırma

In [1]:
while True:
    print("Selamın Hello!")
    break

Selamın Hello!

In [2]:
i= 0
while i < 7:
    print("Selam")
    i += 1

Selam
Selam
Selam
Selam
Selam
Selam
Selam

In [3]:
i = 0
while i < 7:
    print(i)
    i +=1

0
1
2
3
4
5
6

In [13]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:


i = 0

while nums[i] < len(nums):
    print(nums[i])
    i +=1

1
2
3
4
5
6
7
8

In [20]:
x = 0
while x < len(nums):
    print(nums[x])
    x += 1

1
2
3
4
5
6
7
8
9

In [25]:
#user'dan iki input alıp arada ki çift değerleri ytazdırın

user1 = int(input("1. sayıyı giriniz: "))
user2 = int(input("2. sayıyı giriniz: "))

i = user1
while i < user2:
    if i %2 == 0:
        print(i)
    i += 1

10
12
14
16
18

In [26]:
#1 ie 100 arasında sayıları azalarak yazıdırınız
a = 99
while a > 1:
    print(a)
    a -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [39]:
#5 sayı girişi alıp sıralayın
i = 0
liste =[]
while i < 5:
    user = int(input("Bir sayı giriniz: "))
    i += 1
    liste.append(user)
else:
    print(sorted(liste))

for x in sorted(liste):
    print(x, end= " ")

liste.sort()
print(liste)

[21, 23, 36, 54, 85]
21 23 36 54 85 [21, 23, 36, 54, 85]

In [38]:

while True:
    username = input("Username giriniz: ")
    if username != "":
        break
print(username)

ali

In [40]:
username = ""
while not username:
    username = input("username giriniz: ")

print(username)

ali

In [44]:
#n sayıda öğrenci girişi alıp liste içinde sakla
#dict list yapısı no ad ve soyad şeklinde olsun
#işlme bittiğinde öğrencileri listeleyin

students = []

while True:
    no = int(input("Öğrenci numarası giriniz"))
    name = input("Öğrenci İsmi Giriniz: ")
    lname = input("Öğrenci SOyadı giriniz")
    devam = input("Girişe devam edilsin mi?  e/h ")

    studict = {}
    studict["ogrenciNo"] = no
    studict["ogrenciAd"] = name
    studict["ogrenciSoyad"] = lname

    students.append(studict)

    if devam == "h":
        break
    else:
        continue


print(students)

[{'ogrenciNo': 101, 'ogrenciAd': 'toygar', 'ogrenciSoyad': 'par'}]

In [45]:
devam = "e"

students = []

while devam != "h":
    no = int(input("Öğrenci numarası giriniz"))
    name = input("Öğrenci İsmi Giriniz: ")
    lname = input("Öğrenci SOyadı giriniz")
    

    students.append({
        "ogrenciNo": no,
        "ogrenciAd" : name,
        "ogrenciSoyad" : lname

    })
    

    devam = input("Girişe devam edilsin mi?  e/h ")


print(students)


for stu in students:
    print(f"{stu["ogrenciNo"]} numaralı öğrencinin adı, soyadı {stu["ogrenciAd"]} {stu["ogrenciSoyad"]}")

[{'ogrenciNo': 101, 'ogrenciAd': 'toygar', 'ogrenciSoyad': 'par'}, {'ogrenciNo': 102, 'ogrenciAd': 'böçüş', 'ogrenciSoyad': 'par'}, {'ogrenciNo': 103, 'ogrenciAd': 'taco', 'ogrenciSoyad': 'par'}]
101 numaralı öğrencinin adı, soyadı toygar par
102 numaralı öğrencinin adı, soyadı böçüş par
103 numaralı öğrencinin adı, soyadı taco par

BREAK VE CONTINUE STATEMENTS

In [46]:
name =  "Toygar Par"

for x in name:
    if x == "P":  #bu turla döngüyü sonlandır
        break
    print(x)

T
o
y
g
a
r

In [47]:
name =  "Toygar Par"

for x in name:
    if x == "P":  #bu turun devam etmesini istemiyorsam
        continue
    print(x)

T
o
y
g
a
r

a
r

In [48]:
i = 0
while i < 7:
    print(i)
    i += 1

0
1
2
3
4
5
6

In [50]:
i = -1
while i < 7:
    i += 1
    if i == 2:
        continue
    print(i)

0
1
3
4
5
6
7

In [51]:
i = -1
while i < 7:
    i += 1
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [81]:
i = 0
toplam  = 0

while i < 100:
    i +=1
    if i % 2:
        continue  #çift sayıları değerlendirir tekleri continue yapıp atlar
    toplam += i
    print(toplam)

print(toplam)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450
2550
2550

In [58]:
i = 0
toplam  = 0

while i < 100:
    i +=1
    if not i % 2:
        continue  #tekli değerlendirir çiftleri continue yapıp atlar
    toplam += i
    print(toplam)

print(toplam)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2500

RANGE METODU

In [59]:
liste1 = [1, 2, 3, 4, 5]

In [60]:
liste2 = list(range(1,6))
print(liste2)

[1, 2, 3, 4, 5]

In [61]:
liste1 == liste2

True

In [62]:
liste1 is liste2

False

In [63]:
id(liste1)

132136080311872

In [64]:
id(liste2)

132136080357248

In [65]:
type(liste2)

list

In [67]:
rng = range(10,20)
type(rng)
res = list(rng)
print(res)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [69]:
liste45 =  list(range(100,200, 10))
print(liste45)

[100, 110, 120, 130, 140, 150, 160, 170, 180, 190]

In [74]:
liste5 =  list(range(0,-20, -1))
print(liste5)

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19]

i % 2 checks if i is odd or even:

For odd numbers, i % 2 gives 1, which is truthy (evaluates to True).

For even numbers, i % 2 gives 0, which is falsy (evaluates to False).

Thus, when i % 2 is True (i.e., for odd numbers), the print(i) statement is executed.

Result:

This loop prints odd numbers in the range from 1 to 99.

In [86]:
for i in range(1, 100):
    if i % 2:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

the while loop increments i by 1 in each iteration.

The if i % 2: statement checks if i is odd:

For odd numbers, i % 2 == 1, so the continue statement is executed, which skips the rest of the loop (including the print(i) statement).

For even numbers, i % 2 == 0, so the continue is not executed, and the loop proceeds to the print(i) statement, printing the even number.

Result:

This loop skips odd numbers (due to continue) and prints even numbers in the range from 1 to 99.

In [85]:
i = 0


while i < 100:
    i +=1
    if i % 2:
        continue  #çift sayıları değerlendirir tekleri continue yapıp atlar
   
    print(i)

print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
100

ENUMURATE

In [87]:
comps = ["dell", "lenovo", "huawei"]

for c in comps:
    print(c)

dell
lenovo
huawei

In [88]:
i = 1
for comp in comps:
    print(i, comp)

1 dell
1 lenovo
1 huawei

In [96]:
for co in enumerate(comps):  #bizim için collectionı indeksler
    print(co)

(0, 'dell')
(1, 'lenovo')
(2, 'huawei')

In [97]:
for co in enumerate(comps):
    print(co[0], co[1])

0 dell
1 lenovo
2 huawei

In [98]:
nesne = enumerate(comps, 1)
type(nesne)

enumerate

In [99]:
print(list(nesne))

[(1, 'dell'), (2, 'lenovo'), (3, 'huawei')]

In [100]:
for index, co in enumerate(comps): 
    print(f"{index} - {co}")

0 - dell
1 - lenovo
2 - huawei

ZİP FONKSİYONU

In [101]:
nums = [ 100, 101, 102, 103, 104]

students  = ["Toygar", "Taco", "Buzz", "Çıtır", "Böçüş"]

In [102]:
num_stu = zip(nums, students)

In [105]:
type(num_stu)

zip

In [104]:
print(list(num_stu))

[(100, 'Toygar'), (101, 'Taco'), (102, 'Buzz'), (103, 'Çıtır'), (104, 'Böçüş')]

In [108]:
for num, name in zip(nums, students):
    print(num , name)

100 Toygar
101 Taco
102 Buzz
103 Çıtır
104 Böçüş

In [109]:
for x  in zip(nums, students):
    print(x)

(100, 'Toygar')
(101, 'Taco')
(102, 'Buzz')
(103, 'Çıtır')
(104, 'Böçüş')

In [1]:
#input size of the set
size = int(input("Enter size of the set: "))

#input elements of the set

set = [input(f"Enter {i +1} element: ") for i in range(size)]


#initialize the result with an empty subset

res = [[]]

for i in set:
    n = len(res)
    for j in range(n):
        r =  res[j] + [i]
        res.append(r)


#print all subsets

for val in res:
    print(val)

[]
['a']
['b']
['a', 'b']
['c']
['a', 'c']
['b', 'c']
['a', 'b', 'c']

In [1]:
#print x pattrn

def printx(n):
    for i in range(n):
        for j in range(n):
            if j == i or j == n - i - 1:
                print("*", end ="")
            else:
                print(" ", end = "")


printx(7)

*     * *   *   * *     *     * *   *   * *     *

how to reverse a list using for loop

In [1]:
liste = [1, 2, 3, 4, 5]
reversed_liste = []

for i in range(len(liste) - 1, -1, -1):
    reversed_liste.append(liste[i])

print(reversed_liste)

[5, 4, 3, 2, 1]

range(len(liste) - 1, -1, -1) is used to iterate over the indices of the list in reverse order.

The len(liste) function returns the length of the list, which is 5 in this case.

len(liste) - 1 gives the last index of the list, which is 4 (because indices start from 0).

range(4, -1, -1) generates numbers starting from 4 down to 0, i.e., [4, 3, 2, 1, 0]. This will allow you to access the list elements in reverse.

In [2]:
liste2 = [1, 2, 3, 4, 5]
r_liste2 = []
for i in liste2:
    r_liste2.insert(0, i)

print(r_liste2)

[5, 4, 3, 2, 1]

The insert(0, i) function inserts the value of i at index 0 of r_liste2. This means the current value of i is always placed at the start (beginning) of r_liste2.


In each iteration, the element from liste2 gets inserted at the front of r_liste2, effectively building the list in reverse order.

In [4]:
#while döngüsüyle liste elemanlarını toplama

liste3 = [1, 2, 3, 4, 5]

""" 
his code calculates the sum of all elements in a sequence by iterating through each element and adding it to a running total called sum


"""

sum  = 0

while liste3:
    sum += liste3[0]
    liste3 = liste3[1:]

In [5]:
sum

15

In [ ]:
#for döngüsüyle, for loops iterate for us automatically

liste4  = [1, 2, 3, 4, 5]
sum = 0

for i in liste4: sum += i

sum

15