#Operators and Operands

Aratmetak

Atama

KArşılaştırma

MAntıksal

adentity ve Membership(kimlik ve üyelik)

Aritmetik Operatörler

In [11]:
a = 5


b = 2

In [12]:
print(f"{a} + {b} = {a + b}") # print a + b

print(f"{a} - ­{b} = {a - b}") # print a -­ b

print(f"{a} x {b} = {a * b}") # print a * b

print(f"{a} / {b} = {a / b}") # print a / b (/ is division)

print(f"{a} // {b} = {a // b}") # print a // b (// is quotient)

print(f"{a} % {b} = {a % b}") # print a % b (% is modulus)

print(f"{a} ** {b} = {a ** b}") # print the result of a power of b

print(f"root {b} of {a} = {a ** (1/b)}") # print the result of root b of a

5 + 2 = 7
5 - ­2 = 3
5 x 2 = 10
5 / 2 = 2.5
5 // 2 = 2
5 % 2 = 1
5 ** 2 = 25
root 2 of 5 = 2.23606797749979

Atama Operatörleri

In [14]:
c = 5
c += 5 #değişkene atanmaya çalışan değerleri  kendisine operasyon yaparak atama yaparız
c

10

In [15]:
c  = 5
c = c + 5
c

10

In [21]:
a, b, c = 1, 2, 3
a, b, c

(1, 2, 3)

In [27]:
x, y, z = 10 , 20, [30,40]
x , y, z

(10, 20, [30, 40])

In [28]:
d = 10, 20
d

(10, 20)

In [29]:
x += 5
x

15

In [30]:
y -= 5
y

15

In [31]:
y *= 2
y

30

In [32]:
y /= 2
y

15.0

In [34]:
y %= 2
y

1.0

In [36]:
x **= 5
x

759375

In [57]:
#uygulamalar
a , b, c = 3, 5, (13, 7)

In [58]:
#kullanıcıdan alınan 2 sayının çarpımı ile a b c toplamının farkı
g = int(input("İlk sayıyı giriniz: "))
h = int(input("ikinci sayıyı giriniz: "))


c1 = (g * h) - (a + b + c[0] + c[1])
c1

17

In [62]:
ctop =  c[0] + c[1]
ctop //= b
ctop

4

In [63]:
c2 = (a + b + c[0] + c[1])
c2 %= 7
c2

0

In [64]:
b **= a
b

125

In [65]:
j, *k, l = (3, 5, 7, 9, 11, 13)
l **= 3
l

2197

In [66]:
j, k, *l = (3, 5, 7, 9, 11, 13)
c3 = sum(l)
c3

40

In [67]:
middle_blocker = " Zehra Güneş"

middle_blocker

' Zehra Güneş'

In [68]:
z, g = "Zehra", "Güneş" #Tuple atama
z, g

('Zehra', 'Güneş')

In [69]:
[z, g] = [ "Zehra", "Güneş"]  #list assignment
[z, g]

['Zehra', 'Güneş']

In [3]:
v, n, m, p = "1234"  #generalized sequence assigment
v

'1'

In [4]:
n

'2'

In [5]:
m

'3'

In [6]:
p

'4'

In [7]:
r, *t = "1234" #extended sequence unpacking
r

'1'

In [8]:
t

['2', '3', '4']

In [9]:
lahmacun = pide = "yemek" #multiple target atama
lahmacun

'yemek'

In [10]:
pide

'yemek'

In [1]:
#augmented atama
k = 23
k += 42
k

65

Karşılaştırma Operatörleri

In [2]:
a, b, c, d = 4, 4, 7, 6

In [3]:
a == b

True

In [4]:
a == c

False

In [5]:
a != c

True

In [7]:
email = "toygar@par.com"

passwd = "1234567"

res = (email == input("Email Giriniz: "))

res

True

In [8]:
res2 = (passwd == input("password giriniz:  "))
res2

False

In [9]:
c > a

True

In [10]:
b > c

False

In [11]:
a >= b

True

In [12]:
c <= b

False

In [13]:
b  <= c

True

In [14]:
True == 1

True

In [15]:
False == 0

True

In [17]:
in1 = int(input("Bir Sayı giriniz: "))
in2 = int(input("2. bir sayı giriniz: "))

print(f"{in1} > {in2}: {in1 > in2}")

5 > 3: True

In [19]:
in3 = int(input("Bir sayı giriniz: "))

print(f"{in3} çift sayıdır {in3 % 2 != 1} ")

3 çift sayıdır False

In [21]:
in4 = input("3 tane sınav notu aralarına boşluk bırakarak giriniz:")
not1 , not2, not3 = in4.split(" ")
notort = (int(not1) +int(not2)+ int(not3))/3
success = (notort >= 50)
print(f"Başarılı:{success}")

Başarılı:True

SEQUENCE ASSIGNMENTS

In [24]:
#tuple atama
"""
Python pairs the values in the tuple on the
right side of the assignment operator with the variables in the tuple on the left side and
assigns the values one at a time.
"""
ox = 1
parrot = 2
o , p = ox, parrot
o, p

(1, 2)

In [25]:
#list atama
[q, w] = [ox, parrot]
q, w

(1, 2)

In [26]:
"""
Python creates a temporary tuple
that saves the original values of the variables on the right while the statement runs, unpacking assignments are also a way to swap two variables’ values without creating
a temporary variable of your own—
"""
o, p = p, o

o, p

(2, 1)

In [27]:
[a, b, c ] = (1, 2, 3)  #tuple of values to a list of names
c, a

(3, 1)

In [28]:
(a, b, c) = "ABC"   #str of chracters to a tuple
c, a

('C', 'A')

In [1]:
#advance sequence atamalar

sting = "elma"

a, b, c ,d = sting

c, b

('m', 'l')

In [2]:
a, b, c = sting[0], sting[1], sting[2:]
c, a

('ma', 'e')

In [3]:
a, b, c = list(sting[0:2]) + [sting[2:]]
a, b, c

('e', 'l', 'ma')

In [4]:
a, b = sting[:2]
b, a

('l', 'e')

In [5]:
c = sting[2:]
c

'ma'

In [6]:
#nested sequence
((a, b),c ) = ("EL", "MA")
a, b, c

('E', 'L', 'MA')

In [7]:
mavi , beyaz , siyah = range(3)

siyah, mavi

(2, 0)

In [8]:
list(range(3))

[0, 1, 2]

In [10]:
L = [1, 2, 3, 4]

while L:
    split, L = L[0], L[1:]
    print(split, L)

1 [2, 3, 4]
2 [3, 4]
3 [4]
4 []

In [11]:
#extended unpacking 

liste = [ 1, 2, 3, 4]

a, b, c, d = liste

a, b, c, d

(1, 2, 3, 4)

In [13]:
list((a, b, c, d))   #convert type into list

[1, 2, 3, 4]

In [17]:
"""
When a starred name is used, the number of items in the target on the left need not
match the length of the subject sequence. 
"""

e, *f = liste
f

[2, 3, 4]

In [15]:
e

1

In [18]:
x, *y, z = liste
y, z

([2, 3], 4)

In [19]:
x, *y, z = range(5)  # extended sequence unpacking syntax works for any sequence types or iterable
x, y , z

(0, [1, 2, 3], 4)

In [20]:
x, y, z, *p = liste  # the starred name may match just a single item, but is always assigned a list

x, y, z, p

(1, 2, 3, [4])

In [21]:
q, w, e, r,t,*y = range(5) #  if there is nothing left to match the starred name, it is assigned an empty list,
q, w, e, r, t, y

(0, 1, 2, 3, 4, [])

In [23]:
q, w, *e, r,t,y = range(5) #before starred name, variable with pos indexes assigned, empty list for starred name
q, w, e, r, t, y

(0, 1, [], 2, 3, 4)

In [2]:
x = "Python"
print(x.center(50,"*"))

**********************Python**********************