In [1]:
import mysql.connector

In [ ]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "SELECT * FROM products;"
    

    cursor.execute(sql)

    
    
    result = cursor.fetchall()

    for product in result:
        print(f"id: {product[0]}  name: {product[1]}  price:{product[2]} image: {product[3]}  description: {product[4]} category: {product[5]}")
        
        print(product)
        print("************")
    
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

id: 1  name: Huawei  price:5000 image: 3.jpg  description: myphone category: 1
(1, 'Huawei', Decimal('5000'), '3.jpg', 'myphone', 1)
************
id: 2  name: Casper  price:5000 image: 123.jpg  description: good phone category: 1
(2, 'Casper', Decimal('5000'), '123.jpg', 'good phone', 1)
************
id: 3  name: Samsung S7  price:5000 image: 1234.jpg  description: good phone category: 1
(3, 'Samsung S7', Decimal('5000'), '1234.jpg', 'good phone', 1)
************
id: 4  name: Iphone 15 Max  price:90000 image: 6547.jpg  description: excellent phone category: 1
(4, 'Iphone 15 Max', Decimal('90000'), '6547.jpg', 'excellent phone', 1)
************
id: 5  name: Iphone 7  price:15000 image: 125.jpg  description: old phone category: 1
(5, 'Iphone 7', Decimal('15000'), '125.jpg', 'old phone', 1)
************
id: 6  name: Xiaomi  price:15000 image: 44556.jpg  description: phone phone category: 1
(6, 'Xiaomi', Decimal('15000'), '44556.jpg', 'phone phone', 1)
************
id: 7  name: Huawei Matebbok  price:30000 image: 1214.jpg  description: iyi category: 2
(7, 'Huawei Matebbok', Decimal('30000'), '1214.jpg', 'iyi', 2)
************
id: 8  name: MacBook Pro  price:150000 image: 12154.jpg  description: iyi macbook category: 2
(8, 'MacBook Pro', Decimal('150000'), '12154.jpg', 'iyi macbook', 2)
************
database bağlantısı kapandı

In [ ]:
 def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "SELECT * FROM categories;"
    

    cursor.execute(sql)

    
    
    result = cursor.fetchall()

    for product in result:
        
        
        print(product)
        print("************")
    
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

(1, 'telefon')
************
(2, 'bilgisayar')
************
database bağlantısı kapandı

In [7]:
#iki tabloyu birleştirme

In [ ]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "SELECT p.name, p.price, c.name  FROM products as p inner join categories as c on c.id = p.categoryid;"
    

    cursor.execute(sql)

    
    
    result = cursor.fetchall()

    for product in result:
        
        print(f"pname: {product[0]}  price: {product[1]}  kat:{product[2]}")
        print(product)
        print("************")
    
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

pname: Huawei  price: 5000  kat:telefon
('Huawei', Decimal('5000'), 'telefon')
************
pname: Casper  price: 5000  kat:telefon
('Casper', Decimal('5000'), 'telefon')
************
pname: Samsung S7  price: 5000  kat:telefon
('Samsung S7', Decimal('5000'), 'telefon')
************
pname: Iphone 15 Max  price: 90000  kat:telefon
('Iphone 15 Max', Decimal('90000'), 'telefon')
************
pname: Iphone 7  price: 15000  kat:telefon
('Iphone 7', Decimal('15000'), 'telefon')
************
pname: Xiaomi  price: 15000  kat:telefon
('Xiaomi', Decimal('15000'), 'telefon')
************
pname: Huawei Matebbok  price: 30000  kat:bilgisayar
('Huawei Matebbok', Decimal('30000'), 'bilgisayar')
************
pname: MacBook Pro  price: 150000  kat:bilgisayar
('MacBook Pro', Decimal('150000'), 'bilgisayar')
************
database bağlantısı kapandı

In [ ]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "SELECT p.name, p.price, c.name  FROM products as p inner join categories as c on c.id = p.categoryid where c.name = 'telefon';"
    

    cursor.execute(sql)

    
    
    result = cursor.fetchall()

    for product in result:
        
        print(f"pname: {product[0]}  price: {product[1]}  kat:{product[2]}")
        print(product)
        print("************")
    
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

pname: Huawei  price: 5000  kat:telefon
('Huawei', Decimal('5000'), 'telefon')
************
pname: Casper  price: 5000  kat:telefon
('Casper', Decimal('5000'), 'telefon')
************
pname: Samsung S7  price: 5000  kat:telefon
('Samsung S7', Decimal('5000'), 'telefon')
************
pname: Iphone 15 Max  price: 90000  kat:telefon
('Iphone 15 Max', Decimal('90000'), 'telefon')
************
pname: Iphone 7  price: 15000  kat:telefon
('Iphone 7', Decimal('15000'), 'telefon')
************
pname: Xiaomi  price: 15000  kat:telefon
('Xiaomi', Decimal('15000'), 'telefon')
************
database bağlantısı kapandı

In [ ]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "SELECT p.name, p.price, c.name  FROM products as p inner join categories as c on c.id = p.categoryid where p.name = 'Huawei';"
    

    cursor.execute(sql)

    
    
    result = cursor.fetchall()

    for product in result:
        
        print(f"pname: {product[0]}  price: {product[1]}  kat:{product[2]}")
        print(product)
        print("************")
    
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

pname: Huawei  price: 5000  kat:telefon
('Huawei', Decimal('5000'), 'telefon')
************
database bağlantısı kapandı