In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
    host = "localhost", #192.23.48.45 , port 33060 veya 3306
    user = "root",
    password = "xxxxxxx",
    database = "mydatabase"



)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002D07F9FBAD0>

In [4]:
mycursor = mydb.cursor()

In [5]:
mycursor.execute("CREATE DATABASE IF NOT EXISTS mydatabase")

In [6]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [7]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('schooldb',)
('sys',)

In [8]:
mydb.close()

In [9]:
import mysql.connector

In [10]:
mydb =  mysql.connector.connect(
    host ="127.0.0.1",
    port = 3306,
    user = "toygar",
    password = "xxxxxxx",
    database = "schooldb" )

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002D07F933C90>

In [11]:
mycursor = mydb.cursor()

In [12]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('schooldb',)
('sys',)

In [6]:
mydb.close()

<div style="padding:20px; 
            color:#36FF00;
            margin:10px;
            font-size:110%;
            display:fill;
            border-radius:10px;
            border-style: solid;
            border-color: #36FF00;
            background-color:#000000;
            overflow:hidden;
            font-weight:500">Veri Ekleme
            </div>

In [13]:
import mysql.connector

In [14]:
def insertProduct():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = ( "Huawei", "5000", "3.jpg", "myphone")

    cursor.execute(sql, values)

    try:

        conn.commit()

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")

insertProduct()

database bağlantısı kapandı

In [15]:
def insertProduct(name, price, imageUrl, description):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = ( name, price, imageUrl, description)

    cursor.execute(sql, values)

    try:

        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")

name = input("Ürün adını girin: ")
price = float(input("Ürün fiyatı girin: "))
imageUrl = input("İmage URL girin: ")
description = input("Ürün tanımı girin: ")

insertProduct(name, price, imageUrl, description)

Ürün adını girin:  Casper
Ürün fiyatı girin:  5000
İmage URL girin:  123.jpg
Ürün tanımı girin:  good phone

1 tane kayıt eklendi
son eklenen kaydın id'si: 2
database bağlantısı kapandı

In [16]:
def insertProducts(list):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = list

    cursor.executemany(sql, values)

    try:

        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")
list = []
while True:
    name = input("Ürün adını girin: ")
    price = float(input("Ürün fiyatı girin: "))
    imageUrl = input("İmage URL girin: ")
    description = input("Ürün tanımı girin: ")

    list.append((name, price, imageUrl, description))

    result = input("devam etmek istiyor musunuz? (e/h)")
    if result == "h":
        print("Kayıtlarınız veritabanına aktarılıyor...")
        print(list)
        insertProducts(list) 
        break

Ürün adını girin:  Samsung S7
Ürün fiyatı girin:  7000
İmage URL girin:  1234.jpg
Ürün tanımı girin:  good phone
devam etmek istiyor musunuz? (e/h) e
Ürün adını girin:  Iphone 15 Max
Ürün fiyatı girin:  90000
İmage URL girin:  6547.jpg
Ürün tanımı girin:  excellent phone
devam etmek istiyor musunuz? (e/h) h

Kayıtlarınız veritabanına aktarılıyor...
[('Samsung S7', 7000.0, '1234.jpg', 'good phone'), ('Iphone 15 Max', 90000.0, '6547.jpg', 'excellent phone')]
2 tane kayıt eklendi
son eklenen kaydın id'si: 3
database bağlantısı kapandı

## Uygulama Kayıt Ekleme

In [17]:
import mysql.connector
from datetime import datetime
from connection import connection

In [18]:


mycursor = connection.cursor()

In [19]:
# ÇOKLU KAYIT EKLEME
#import datetime kullanırsak datetime.datetime kullanmamız gerekiyor
from datetime import datetime

sql = "INSERT INTO student ( StudentNumber, Name, Surname, Birthdate, Gender) VALUES ( %s, %s, %s, %s, %s)"

ogrenciler = [
    ("301","Ahmet","Yılmaz",datetime(2005, 5, 17),"E"),
    ("302","Ali","Can",datetime(2005, 6, 17),"E"),
    ("303","Canan","Tan",datetime(2005, 7, 7),"K"),
    ("304","Ayşe","Taner",datetime(2005, 9, 23),"K"),
    ("305","Bahadır","Toksöz",datetime(2004, 7, 27),"E"),
    ("306","Ali","Cenk",datetime(2003, 8, 25),"E")
]

mycursor.executemany(sql, ogrenciler)

try:

    connection.commit()
    print(mycursor.rowcount, "records were inserted.")

except mysql.connector.Error as err:
    print("hata : ", err)

finally:
    connection.close()
    print("database bağlantısı kapandı")

6 records were inserted.
database bağlantısı kapandı