In [1]:
import mysql.connector

In [2]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    

    cursor.execute("SELECT * FROM products ORDER BY name")

    
    
    result = cursor.fetchall()

    for product in result:
        print(f"id: {product[0]}  name: {product[1]}  price:{product[2]}")

    print("************")
    
    
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

id: 2  name: Casper  price:5000
id: 1  name: Huawei  price:5000
id: 4  name: Iphone 15 Max  price:90000
id: 3  name: Samsung S7  price:7000
************
database bağlantısı kapandı

In [8]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "SELECT * FROM products ORDER BY name"
    

    cursor.execute(sql)

    
    
    result = cursor.fetchall()

    for product in result:
        print(f"id: {product[0]}  name: {product[1]}  price:{product[2]}")
    

    print("************")
    
    
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

id: 2  name: Casper  price:5000
id: 1  name: Huawei  price:5000
id: 4  name: Iphone 15 Max  price:90000
id: 3  name: Samsung S7  price:7000
************
database bağlantısı kapandı

In [9]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "SELECT * FROM products ORDER BY id DESC"
    

    cursor.execute(sql)

    
    
    result = cursor.fetchall()

    for product in result:
        print(f"id: {product[0]}  name: {product[1]}  price:{product[2]}")
    

    print("************")
    
    
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

id: 4  name: Iphone 15 Max  price:90000
id: 3  name: Samsung S7  price:7000
id: 2  name: Casper  price:5000
id: 1  name: Huawei  price:5000
************
database bağlantısı kapandı

In [10]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "SELECT * FROM products ORDER BY price DESC"
    

    cursor.execute(sql)

    
    
    result = cursor.fetchall()

    for product in result:
        print(f"id: {product[0]}  name: {product[1]}  price:{product[2]}")
    

    print("************")
    
    
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

id: 4  name: Iphone 15 Max  price:90000
id: 3  name: Samsung S7  price:7000
id: 1  name: Huawei  price:5000
id: 2  name: Casper  price:5000
************
database bağlantısı kapandı