In [1]:
import mysql.connector

In [ ]:
def insertProduct(name, price, imageUrl, description):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = ( name, price, imageUrl, description)

    cursor.execute(sql, values)

    try:

        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")

name = input("Ürün adını girin: ")
price = float(input("Ürün fiyatı girin: "))
imageUrl = input("İmage URL girin: ")
description = input("Ürün tanımı girin: ")

insertProduct(name, price, imageUrl, description)

In [ ]:
def insertProducts(list):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = list

    cursor.executemany(sql, values)

    try:

        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")
list = []
while True:
    name = input("Ürün adını girin: ")
    price = float(input("Ürün fiyatı girin: "))
    imageUrl = input("İmage URL girin: ")
    description = input("Ürün tanımı girin: ")

    list.append((name, price, imageUrl, description))

    result = input("devam etmek istiyor musunuz? (e/h)")
    if result == "h":
        print("Kayıtlarınız veritabanına aktarılıyor...")
        print(list)
        insertProducts(list) 
        break

In [10]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    

    cursor.execute("SELECT * FROM products")
    result = cursor.fetchall()

    print(result)
    print("************")

    for product in result:
        print(product)

    print("************")
    
    for product in result:
        print(f"name:{product[1]}, price:{product[2]}")
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

[(1, 'Huawei', Decimal('5000'), '3.jpg', 'myphone'), (2, 'Casper', Decimal('5000'), '123.jpg', 'good phone'), (3, 'Samsung S7', Decimal('7000'), '1234.jpg', 'good phone'), (4, 'Iphone 15 Max', Decimal('90000'), '6547.jpg', 'excellent phone')]
************
(1, 'Huawei', Decimal('5000'), '3.jpg', 'myphone')
(2, 'Casper', Decimal('5000'), '123.jpg', 'good phone')
(3, 'Samsung S7', Decimal('7000'), '1234.jpg', 'good phone')
(4, 'Iphone 15 Max', Decimal('90000'), '6547.jpg', 'excellent phone')
************
name:Huawei, price:5000
name:Casper, price:5000
name:Samsung S7, price:7000
name:Iphone 15 Max, price:90000
database bağlantısı kapandı

In [16]:
#sadece ihtiyaç olan columnları getirmek
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    

    cursor.execute("SELECT name, price, description FROM products")

    res = cursor.fetchone()
    print(f"name:{res[0]}, price:{res[1]}, description={res[2]}")
    print("************")
    
    result = cursor.fetchall()

    print(result)
    print("************")

    for product in result:
        print(product)

    print("************")
    
    for product in result:
        print(f"name:{product[0]}, price:{product[1]}, description={product[2]}")
    conn.close()
    print("database bağlantısı kapandı")

getProducts()

name:Huawei, price:5000, description=myphone
************
[('Casper', Decimal('5000'), 'good phone'), ('Samsung S7', Decimal('7000'), 'good phone'), ('Iphone 15 Max', Decimal('90000'), 'excellent phone')]
************
('Casper', Decimal('5000'), 'good phone')
('Samsung S7', Decimal('7000'), 'good phone')
('Iphone 15 Max', Decimal('90000'), 'excellent phone')
************
name:Casper, price:5000, description=good phone
name:Samsung S7, price:7000, description=good phone
name:Iphone 15 Max, price:90000, description=excellent phone
database bağlantısı kapandı