In [4]:
import mysql.connector

In [5]:
def getProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "SELECT * FROM products;"
    

    cursor.execute(sql)

    
    
    result = cursor.fetchall()
    print(result)
    for urun in result:
        
        print(f" id: {urun[0]}  name: {urun[1]} price: {urun[2]}")

            
        print("************")
    
    
    conn.close()
    print("database bağlantısı kapandı")

#getProducts(1)
#getProducts(3)

def updateProduct():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "update products set name = 'Samsung S10' where id = 3;"
    

    cursor.execute(sql)

    
    
    try:
    
        conn.commit()
        print(f"{cursor.rowcount} tane kayıt updated/güncellendi")
        
        
        cursor.close()
    
    except mysql.connector.Error as err:
        print("hata : ", err)
    
    finally:
        conn.close()
        print("database bağlantısı kapandı")


updateProduct()

1 tane kayıt updated/güncellendi
database bağlantısı kapandı

In [6]:
getProducts()

[(1, 'Huawei', Decimal('5000'), '3.jpg', 'myphone'), (2, 'Casper', Decimal('5000'), '123.jpg', 'good phone'), (3, 'Samsung S10', Decimal('5000'), '1234.jpg', 'good phone'), (4, 'Iphone 15 Max', Decimal('90000'), '6547.jpg', 'excellent phone'), (5, 'Iphone 7', Decimal('15000'), '125.jpg', 'old phone'), (6, 'Xiaomi', Decimal('20000'), '1234.jpg', 'phone')]
 id: 1  name: Huawei price: 5000
************
 id: 2  name: Casper price: 5000
************
 id: 3  name: Samsung S10 price: 5000
************
 id: 4  name: Iphone 15 Max price: 90000
************
 id: 5  name: Iphone 7 price: 15000
************
 id: 6  name: Xiaomi price: 20000
************
database bağlantısı kapandı

In [7]:
def updateProduct(id, name, price):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    
    sql = "update products set name = %s, price = %s where id = %s;"
    
    vals = (name, price, id)

    cursor.execute(sql, vals)

    
    
    try:
    
        conn.commit()
        print(f"{cursor.rowcount} tane kayıt updated/güncellendi")
        
        
        cursor.close()
    
    except mysql.connector.Error as err:
        print("hata : ", err)
    
    finally:
        conn.close()
        print("database bağlantısı kapandı")


updateProduct(3, "Samsung S7", 5000)

1 tane kayıt updated/güncellendi
database bağlantısı kapandı

In [8]:
getProducts()

[(1, 'Huawei', Decimal('5000'), '3.jpg', 'myphone'), (2, 'Casper', Decimal('5000'), '123.jpg', 'good phone'), (3, 'Samsung S7', Decimal('5000'), '1234.jpg', 'good phone'), (4, 'Iphone 15 Max', Decimal('90000'), '6547.jpg', 'excellent phone'), (5, 'Iphone 7', Decimal('15000'), '125.jpg', 'old phone'), (6, 'Xiaomi', Decimal('20000'), '1234.jpg', 'phone')]
 id: 1  name: Huawei price: 5000
************
 id: 2  name: Casper price: 5000
************
 id: 3  name: Samsung S7 price: 5000
************
 id: 4  name: Iphone 15 Max price: 90000
************
 id: 5  name: Iphone 7 price: 15000
************
 id: 6  name: Xiaomi price: 20000
************
database bağlantısı kapandı

In [9]:
def updateProduct(id, name, price):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    if name != "":
        sql = "update products set name = %s, price = %s where id = %s;"
        
        vals = (name, price, id)

    cursor.execute(sql, vals)

    
    
    try:
    
        conn.commit()
        print(f"{cursor.rowcount} tane kayıt updated/güncellendi")
        
        
        cursor.close()
    
    except mysql.connector.Error as err:
        print("hata : ", err)
    
    finally:
        conn.close()
        print("database bağlantısı kapandı")


updateProduct(3, "Samsung S7", 5000)

0 tane kayıt updated/güncellendi
database bağlantısı kapandı

In [11]:
import mysql.connector
def deleteProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    
    sql = "delete from products where id = 6;"
    
    

    cursor.execute(sql)

    
    
    try:
    
        conn.commit()
        print(f"{cursor.rowcount} tane kayıt silindi")
        
        
        cursor.close()
    
    except mysql.connector.Error as err:
        print("hata : ", err)
    
    finally:
        conn.close()
        print("database bağlantısı kapandı")


deleteProducts()

1 tane kayıt silindi
database bağlantısı kapandı

In [15]:
import mysql.connector
def insertProducts():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    
    sql = """INSERT INTO products ( id, name, price, ImageUrl, description) VALUES (6,  "Xiaomi", 15000, "44556.jpg", "phone phone");"""
    
    

    cursor.execute(sql)

    
    
    try:
    
        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        
        
        cursor.close()
    
    except mysql.connector.Error as err:
        print("hata : ", err)
    
    finally:
        conn.close()
        print("database bağlantısı kapandı")


insertProducts()

1 tane kayıt eklendi
database bağlantısı kapandı

In [16]:
getProducts()

[(1, 'Huawei', Decimal('5000'), '3.jpg', 'myphone'), (2, 'Casper', Decimal('5000'), '123.jpg', 'good phone'), (3, 'Samsung S7', Decimal('5000'), '1234.jpg', 'good phone'), (4, 'Iphone 15 Max', Decimal('90000'), '6547.jpg', 'excellent phone'), (5, 'Iphone 7', Decimal('15000'), '125.jpg', 'old phone'), (6, 'Xiaomi', Decimal('15000'), '44556.jpg', 'phone phone'), (7, 'Xiaomi', Decimal('15000'), '44556.jpg', 'phone phone')]
 id: 1  name: Huawei price: 5000
************
 id: 2  name: Casper price: 5000
************
 id: 3  name: Samsung S7 price: 5000
************
 id: 4  name: Iphone 15 Max price: 90000
************
 id: 5  name: Iphone 7 price: 15000
************
 id: 6  name: Xiaomi price: 15000
************
 id: 7  name: Xiaomi price: 15000
************
database bağlantısı kapandı

In [17]:
import mysql.connector
def deleteProducts(id):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    
    sql = "delete from products where id = %s;"
    
    vals = (id,)

    cursor.execute(sql, vals)

    
    
    try:
    
        conn.commit()
        print(f"{cursor.rowcount} tane kayıt silindi")
        
        
        cursor.close()
    
    except mysql.connector.Error as err:
        print("hata : ", err)
    
    finally:
        conn.close()
        print("database bağlantısı kapandı")


deleteProducts(7)

1 tane kayıt silindi
database bağlantısı kapandı

In [18]:
getProducts()

[(1, 'Huawei', Decimal('5000'), '3.jpg', 'myphone'), (2, 'Casper', Decimal('5000'), '123.jpg', 'good phone'), (3, 'Samsung S7', Decimal('5000'), '1234.jpg', 'good phone'), (4, 'Iphone 15 Max', Decimal('90000'), '6547.jpg', 'excellent phone'), (5, 'Iphone 7', Decimal('15000'), '125.jpg', 'old phone'), (6, 'Xiaomi', Decimal('15000'), '44556.jpg', 'phone phone')]
 id: 1  name: Huawei price: 5000
************
 id: 2  name: Casper price: 5000
************
 id: 3  name: Samsung S7 price: 5000
************
 id: 4  name: Iphone 15 Max price: 90000
************
 id: 5  name: Iphone 7 price: 15000
************
 id: 6  name: Xiaomi price: 15000
************
database bağlantısı kapandı