CREATE DB

In [ ]:
class CreateDb:
    import mysql.connector

    conn = mysql.connector.connect(
        host = "localhost",
        user = "toygarpar",
        password = "xxxxxxx"
    )

    cursor = conn.cursor()

    cursor.execute("CREATE DATABASE shopclassdb")

    cursor.execute("SHOW DATABASES")

    
    cursor.close()
    conn.close()


CreateDb()

In [ ]:
class CreateTable:
    import mysql.connector

    conn = mysql.connector.connect(
        host = "localhost",
        user = "toygarpar",
        password = "xxxxxxx",
        database = "shopclassdb"

    )

    cursor = conn.cursor()

    sql = """CREATE TABLE `shopclassdb`.`new_table` (
  `Id` INT NOT NULL AUTO_INCREMENT,
  `name` VARCHAR(255) NOT NULL,
  `price` DECIMAL NOT NULL,
  `imageUrl` VARCHAR(45) NULL,
  `description` MEDIUMTEXT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE INDEX `Id_UNIQUE` (`Id` ASC) VISIBLE);"""
    


    cursor.execute(sql)

    cursor.execute("show tables")

    for i in cursor:

        print(i)

    cursor.close()
    conn.close()

('new_table',)

In [ ]:
class AlterTable:
    import mysql.connector

    conn = mysql.connector.connect(
        host = "localhost",
        user = "toygarpar",
        password = "xxxxxxx",
        database = "shopclassdb"

    )

    cursor = conn.cursor()

    sql = """ALTER TABLE `shopclassdb`.`new_table` 
            RENAME TO  `shopclassdb`.`products` ;"""
    


    cursor.execute(sql)

    cursor.execute("show tables")

    for i in cursor:

        print(i)

    cursor.close()
    conn.close()


AlterTable()

('products',)