INSERT DATA

In [2]:
import mysql.connector

In [ ]:

db = mysql.connector.connect(
    host = "localhost",
    user = "toygarpar",
    password = "xxxxxxx",
    database = "shopdb"
)

In [4]:
cursor = db.cursor()

In [ ]:
#insert product

sql = "INSERT INTO products (name, price, imageUrl, description) VALUES (%s, %s, %s, %s)"

value = ("Huawei Mate 10", "18000", "3.jpg", "myphone is phone ")

In [6]:
cursor.execute(sql, value)

db.commit()

print(cursor.rowcount, " kayıt edildi")

1  kayıt edildi

In [2]:
def insertProduct():

    import mysql.connector
    
    conn = mysql.connector.connect(
        host = "localhost",
        user = "toygarpar",
        password = "xxxxxxx",
        database = "shopclassdb"

    )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    value = ("Huawei Mate 10", "18000", "3.jpg", "myphone is phone ")

    cursor.execute(sql, value)

    try:

        conn.commit()

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")

insertProduct()

database bağlantısı kapandı

In [9]:
# insert products, liste kullanarak çoklu kayıt ekleme

sql = "INSERT INTO products (name, price, imageUrl, description) VALUES (%s, %s, %s, %s)"

values = [("Huawei Mate 20", "38000", "4.jpg", "good camera"),
         ("Huawei Mate 30", "48000", "5.jpg", "better camera"),
         ("Huawei Mate 40", "58000", "6.jpg", "best camera"),
         ]

In [ ]:
cursor.executemany(sql,values)

db.commit()
print(f"{cursor.rowcount} tane kayıt eklendi")
print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

#bir önceki db bağlantısı kapatalım 
cursor.close()
db.close()

3 tane kayıt eklendi
son eklenen kaydın id'si: 4

Kayıtlarınız veritabanına aktarılıyor...
[('Samsung S25', 50000.0, '2.jpg', 'good good good phone'), ('Samsung S26', 60000.0, '3.jpg', 'better phone')]
2 tane kayıt eklendi
son eklenen kaydın id'si: 2
database bağlantısı kapandı

In [ ]:
import mysql.connector

#yeni bağlantı açalım
conn = mysql.connector.connect(
    host = "localhost",
    user = "toygarpar",
    password = "xxxxxxx",
    database = "shopdb"
)

#cursor alalım
cursor = conn.cursor()


sql = "INSERT INTO products (name, price, imageUrl, description) VALUES (%s, %s, %s, %s)"

values = [("Iphone 16", "80000", "7.jpg", "good camera"),
         ("Iphone 17", "90000", "8.jpg", "better camera"),
         ("Iphone 18", "100000", "9.jpg", "best camera"),
         ]

cursor.executemany(sql, values)

In [14]:
try:

    conn.commit()
    print(f"{cursor.rowcount} tane kayıt eklendi")
    print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

except mysql.connector.Error as err:
    print("hata : ", err)

finally:
    cursor.close()
    conn.close()
    print("cursor objesi ve database bağlantısı kapandı")

3 tane kayıt eklendi
son eklenen kaydın id'si: 7
cursor objesi ve database bağlantısı kapandı

In [4]:
def insertProducts(list):

    import mysql.connector
    conn = mysql.connector.connect(
        host = "localhost",
        user = "toygarpar",
        password = "xxxxxxx",
        database = "shopclassdb"

    )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = list

    cursor.executemany(sql, values)

    try:

        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")
list = []
while True:
    name = input("Ürün adını girin: ")
    price = float(input("Ürün fiyatı girin: "))
    imageUrl = input("İmage URL girin: ")
    description = input("Ürün tanımı girin: ")

    list.append((name, price, imageUrl, description))

    result = input("devam etmek istiyor musunuz? (e/h)")
    if result == "h":
        print("Kayıtlarınız veritabanına aktarılıyor...")
        print(list)
        insertProducts(list) 
        break

Kayıtlarınız veritabanına aktarılıyor...
[('Iphone 16', 80000.0, '5.jpg', 'good apple'), ('Iphone 17', 90000.0, '6.jpg', 'good apple'), ('Iphone 18', 10000.0, '7.jpg', 'good apple')]
3 tane kayıt eklendi
son eklenen kaydın id'si: 4
database bağlantısı kapandı

In [ ]:
"""
UPDATE `shopclassdb`.`products` SET `imageUrl` = '4.jpg' WHERE (`Id` = '4');
UPDATE `shopclassdb`.`products` SET `imageUrl` = '5.jpg', `description` = 'better apple' WHERE (`Id` = '5');
UPDATE `shopclassdb`.`products` SET `imageUrl` = '6.jpg', `description` = 'best apple' WHERE (`Id` = '6');
"""

In [5]:
def insertProduct(name, price, imageUrl, description):
    import mysql.connector
    conn = mysql.connector.connect(
        host = "localhost",
        user = "toygarpar",
        password = "xxxxxxx",
        database = "shopclassdb"

    )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    value = ( name, price, imageUrl, description)

    cursor.execute(sql, value)

    try:

        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")

name = input("Ürün adını girin: ")
price = float(input("Ürün fiyatı girin: "))
imageUrl = input("İmage URL girin: ")
description = input("Ürün tanımı girin: ")

insertProduct(name, price, imageUrl, description)

1 tane kayıt eklendi
son eklenen kaydın id'si: 7
database bağlantısı kapandı