DATA QUERY - VERİ SORGULAMA

In [2]:
import mysql.connector

In [5]:

conn = mysql.connector.connect(
    host = "localhost",
    user = "toygarpar",
    password = "xxxxxxx",
    database = "shopdb"
)

In [6]:
cursor = conn.cursor()

In [7]:
#    cursor.execute("SELECT * FROM products")

sql =  "select * from products"

In [8]:
cursor.execute(sql)

In [9]:
results = cursor.fetchall()

print(results)
print("***********************")

[(1, 'Samsung S25', Decimal('50000'), '1.jpg', 'güzel bir telefon'), (2, 'Samsung S26', Decimal('60000'), '2.jpg', 'mükemmel bir telefon'), (3, 'Huawei Mate 10', Decimal('18000'), '3.jpg', 'myphone'), (4, 'Huawei Mate 20', Decimal('38000'), '4.jpg', 'good camera'), (5, 'Huawei Mate 30', Decimal('48000'), '5.jpg', 'better camera'), (6, 'Huawei Mate 40', Decimal('58000'), '6.jpg', 'best camera'), (7, 'Iphone 16', Decimal('80000'), '7.jpg', 'good camera'), (8, 'Iphone 17', Decimal('90000'), '8.jpg', 'better camera'), (9, 'Iphone 18', Decimal('100000'), '9.jpg', 'best camera')]
***********************

In [10]:
for p in results:
    print(f"name: {p[1]}, price: {p[2]}")

name: Samsung S25, price: 50000
name: Samsung S26, price: 60000
name: Huawei Mate 10, price: 18000
name: Huawei Mate 20, price: 38000
name: Huawei Mate 30, price: 48000
name: Huawei Mate 40, price: 58000
name: Iphone 16, price: 80000
name: Iphone 17, price: 90000
name: Iphone 18, price: 100000

In [11]:

conn.close()
print("database bağlantısı kapandı")

database bağlantısı kapandı

In [1]:
def getProducts():
    import mysql.connector

    conn = mysql.connector.connect(
    host = "localhost",
    user = "toygarpar",
    password = "xxxxxxx",
    database = "shopclassdb"
    )


    cursor =  conn.cursor()
    
    cursor.execute("select * from products")

    result = cursor.fetchall()

    print(result)
    print("************************************")

    for p in result:
        print(f" name: {p[1]}, price: {p[2]}")

    
    conn.close()
    print("database bağlantısı kapandı")



getProducts()

[(1, 'Huawei Mate 10', Decimal('18000'), '3.jpg', 'myphone is phone '), (2, 'Samsung S25', Decimal('50000'), '2.jpg', 'good good good phone'), (3, 'Samsung S26', Decimal('60000'), '3.jpg', 'better phone'), (4, 'Iphone 16', Decimal('80000'), '4.jpg', 'good apple'), (5, 'Iphone 17', Decimal('90000'), '5.jpg', 'better apple'), (6, 'Iphone 18', Decimal('10000'), '6.jpg', 'best apple'), (7, 'Huawei Mate 20', Decimal('40000'), '7.jpg', 'good huawei telephone camera')]
************************************
 name: Huawei Mate 10, price: 18000
 name: Samsung S25, price: 50000
 name: Samsung S26, price: 60000
 name: Iphone 16, price: 80000
 name: Iphone 17, price: 90000
 name: Iphone 18, price: 10000
 name: Huawei Mate 20, price: 40000
database bağlantısı kapandı