In [1]:
import mysql.connector
import mysqlx

In [6]:
mydb = mysql.connector.connect(
    host = "localhost", #192.23.48.45 , port 33060 veya 3306
    user = "root",
    password = "xxxxxxx",
    database = "mydatabase"



)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000195760586D0>

In [7]:
mycursor = mydb.cursor()

In [10]:
#mycursor.execute("CREATE DATABASE mydatabase")

In [9]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [5]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('node-app',)
('performance_schema',)
('sys',)

In [12]:
mydb.close()

In [1]:
import mysql.connector
import mysqlx

In [2]:
mydb =  mysql.connector.connect(
    host ="127.0.0.1",
    port = 3306,
    user = "toygar",
    password = "xxxxxxx",
    database = "schooldb" )

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000265407C1E90>

In [3]:
mycursor = mydb.cursor()

In [4]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('node-app',)
('performance_schema',)
('schooldb',)
('sys',)

In [6]:
mydb.close()

<div style="padding:20px; 
            color:#36FF00;
            margin:10px;
            font-size:110%;
            display:fill;
            border-radius:10px;
            border-style: solid;
            border-color: #36FF00;
            background-color:#000000;
            overflow:hidden;
            font-weight:500">Veri Ekleme
            </div>

In [6]:
import mysql.connector

In [10]:
def insertProduct():
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = ( "Huawei", "5000", "3.jpg", "myphone")

    cursor.execute(sql, values)

    try:

        conn.commit()

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")

insertProduct()

database bağlantısı kapandı

In [3]:
def insertProduct(name, price, imageUrl, description):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = ( name, price, imageUrl, description)

    cursor.execute(sql, values)

    try:

        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")

name = input("Ürün adını girin: ")
price = float(input("Ürün fiyatı girin: "))
imageUrl = input("İmage URL girin: ")
description = input("Ürün tanımı girin: ")

insertProduct(name, price, imageUrl, description)


def insertProduct(name, price, imageUrl, description):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = ( name, price, imageUrl, description)

    cursor.execute(sql, values)

    try:

        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")
list = []
while True:
    name = input("Ürün adını girin: ")
    price = float(input("Ürün fiyatı girin: "))
    imageUrl = input("İmage URL girin: ")
    description = input("Ürün tanımı girin: ")

    list.append((name, price, imageUrl, description))

    result = input("devam etmek istiyor musunuz? (e/h)")
    if result == "h":
        print("Kayıtlarınız veritabanına aktarılıyor...")
        print(list)
        break

Ürün adını girin:  Casper
Ürün fiyatı girin:  4000
İmage URL girin:  5
Ürün tanımı girin:  deneme
devam etmek istiyor musunuz? (e/h) h

Kayıtlarınız veritabanına aktarılıyor...
[('Casper', 4000.0, '5', 'deneme')]

In [7]:
def insertProducts(list):
    conn = mysql.connector.connect(
        host ="127.0.0.1",
        port = 3306,
        user = "toygar",
        password = "xxxxxxx",
        database = "node-app" )

    cursor = conn.cursor()

    sql = "INSERT INTO products ( name,price, imageUrl,description) VALUES (%s, %s, %s, %s);"
    values = list

    cursor.executemany(sql, values)

    try:

        conn.commit()
        print(f"{cursor.rowcount} tane kayıt eklendi")
        print(f"son eklenen kaydın id'si: {cursor.lastrowid}")

    except mysql.connector.Error as err:
        print("hata : ", err)

    finally:
        conn.close()
        print("database bağlantısı kapandı")
list = []
while True:
    name = input("Ürün adını girin: ")
    price = float(input("Ürün fiyatı girin: "))
    imageUrl = input("İmage URL girin: ")
    description = input("Ürün tanımı girin: ")

    list.append((name, price, imageUrl, description))

    result = input("devam etmek istiyor musunuz? (e/h)")
    if result == "h":
        print("Kayıtlarınız veritabanına aktarılıyor...")
        print(list)
        insertProducts(list) 
        break

Ürün adını girin:  CAsper 1
Ürün fiyatı girin:  2500
İmage URL girin:  123
Ürün tanımı girin:  deneme123
devam etmek istiyor musunuz? (e/h) e
Ürün adını girin:  casper nova
Ürün fiyatı girin:  3000
İmage URL girin:  654
Ürün tanımı girin:  denemedeneme
devam etmek istiyor musunuz? (e/h) h

Kayıtlarınız veritabanına aktarılıyor...
[('CAsper 1', 2500.0, '123', 'deneme123'), ('casper nova', 3000.0, '654', 'denemedeneme')]
2 tane kayıt eklendi
son eklenen kaydın id'si: 7
database bağlantısı kapandı